<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.storagein.mapper.MaterialRecevieMapper">

    <resultMap type="MaterialReceiveVO" id="MaterialReceiveVOResult">
        <result property="id" column="id"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="materialNb" column="material_nb"/>
        <result property="materialName" column="material_name"/>
        <result property="expireDate" column="expire_date"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="fromPurchaseOrder" column="from_purchase_order"/>
        <result property="poNumberItem" column="po_number_item"/>
        <result property="uploadUser" column="upload_user"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="status" column="status"/>
        <result property="editFlag" column="edit_flag"/>
        <result property="plantNb" column="plant_nb"/>
        <result property="wareCode" column="ware_code" />

    </resultMap>
    <sql id="selectMaterialReceiveVo">
        select sm.id,
               sm.sscc_number,
               sm.batch_nb,
               str_to_date(sm.expire_date, '%d/%m/%Y') as expire_date,
               sm.material_nb,
               sm.unit,
               sm.quantity,
               sm.from_purchase_order,
               sm.po_number_item,
               sm.upload_user,
               sm.upload_time,
               sm.update_user,
               sm.update_time,
               sm.delete_flag,
               sm.status,
               sm.edit_flag,
               sm.plant_nb,
               sm.ware_code
        from si_material_receive sm
    </sql>

    <select id="selectMaterialReceiveVOList" parameterType="MaterialReceiveDTO" resultMap="MaterialReceiveVOResult">
        select sm.id,
        sm.sscc_number,
        sm.batch_nb,
        str_to_date(sm.expire_date, '%d/%m/%Y') as expire_date,
        sm.material_nb,
        mm.name as material_name,
        sm.unit,
        sm.quantity,
        sm.from_purchase_order,
        sm.po_number_item,
        sm.upload_user,
        sm.upload_time,
        sm.update_user,
        sm.update_time,
        sm.delete_flag,
        sm.status,
        sm.edit_flag,
        sm.plant_nb,
               sm.ware_code
        from si_material_receive sm left join (select * from md_material where delete_flag=0 )mm on sm.material_nb =
        mm.code
        where sm.delete_flag=0
        <if test="plantNb != null  and plantNb != ''">and sm.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="wareCode != null  and wareCode != ''">and sm.ware_code like concat('%', #{wareCode}, '%')</if>

        <if test="materialNb != null  and materialNb != ''">and sm.material_nb like concat('%', #{materialNb}, '%')</if>
        <if test="batchNb != null  and batchNb != ''">and sm.batch_nb like concat('%', #{batchNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and sm.sscc_number like concat('%', #{ssccNumber}, '%')</if>

        <if test="fromPurchaseOrder != null and fromPurchaseOrder != ''">and sm.from_purchase_order like concat('%',
            #{fromPurchaseOrder}, '%')
        </if>
        <if test="poNumberItem != null and poNumberItem != ''">and sm.po_number_item like concat('%', #{poNumberItem},
            '%')
        </if>

        <if test="startExpireDate != null and endExpireDate != null">and str_to_date(sm.expire_date, '%d/%m/%Y') between
            #{startExpireDate} and #{endExpireDate}
        </if>

        <if test="startUploadTime != null and endUploadTime != null">and str_to_date(sm.upload_time, '%d/%m/%Y') between
            #{startUploadTime} and #{endUploadTime}
        </if>
        <if test="status != null">and sm.status = #{status}</if>
        order by sm.update_time desc, sm.upload_time desc
        <choose>
            <when test="orderField == 'status'">
                ,status ${orderType}
            </when>
            <when test="orderField == 'fromPurchaseOrder'">
                ,from_purchase_order ${orderType}
            </when>
            <when test="orderField == 'batchNb'">
                ,batch_nb ${orderType}
            </when>
        </choose>
    </select>

    <select id="selectMaterialReceiveVOBySncc" parameterType="string" resultMap="MaterialReceiveVOResult">
        <include refid="selectMaterialReceiveVo"/>
        where delete_flag=0 and sscc_number = #{snccNumber}
    </select>


    <select id="selectMaterialReceiveVOById" resultMap="MaterialReceiveVOResult">
        <include refid="selectMaterialReceiveVo"/>
        where delete_flag=0 and id = #{id}
    </select>


    <update id="deleteMaterialReceiveVOById" parameterType="Long">
        update si_material_receive
        set delete_flag = 1
        where id = #{id}
    </update>


    <update id="deleteMaterialReceiveVOByIds" parameterType="List">

        update si_material_receive set delete_flag = 1
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateStatusBySscc">
        update si_material_receive
        set status = #{status}
        where sscc_number = #{ssccNumber}
    </update>

    <update id="updateEditFlag">
        update si_material_receive
        set edit_flag = #{editFlag}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateStatus">
        update si_material_receive
        set status     = #{code},
            update_user=#{updateUser},
            update_time=#{updateTime}
        where material_nb = #{materialNb}
          and batch_nb = #{batchNb}
          and delete_flag = 0
    </update>


    <select id="selectSameBatchMaterialReceiveVO" resultMap="MaterialReceiveVOResult">
        <include refid="selectMaterialReceiveVo"/>
        where delete_flag=0 and material_nb = #{materialNb} and batch_nb = #{batchNb}
    </select>

        <update id="updateBatch" parameterType="com.bosch.storagein.api.domain.MaterialReceive">
        <!--        <foreach collection="list" item="item" separator=";">-->
        UPDATE si_material_receive
        SET plant_nb=#{plantNb}, sscc_number=#{ssccNumber}, material_nb=#{materialNb}, batch_nb=#{batchNb},
        supplier_nb=#{supplierNb},
        storage_location=#{storageLocation}, expire_date=#{expireDate}, quantity=#{quantity}, unit=#{unit},
        from_area=#{fromArea},
        from_purchase_order=#{fromPurchaseOrder}, to_picking_area=#{toPickingArea}, po_number_item=#{poNumberItem},
        update_user=#{updateUser},
        update_time=#{updateTime},
        file_id=concat(concat(#{fileId},','),file_id)
        WHERE sscc_number=#{ssccNumber};
        <!--        </foreach>-->
    </update>

</mapper>
