<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.IQCSamplePlanMapper">


    <select id="getSamplePlan" resultType="com.bosch.binin.api.domain.vo.IQCSamplePlanVO">
        select isp.*,bs.batch_nb as batchNb,bs.expire_date as expireDate,bs.ware_code as wareCode
        from iqc_sample_plan isp
        left join bi_stock bs
        on isp.sscc_nb = bs.sscc_number and bs.delete_flag = 0
        where isp.delete_flag = 0
        <if test="ssccNb != null and ssccNb != ''">and isp.sscc_nb like concat('%', #{ssccNb},
            '%')
        </if>
        <if test="wareCode != null and wareCode != ''">and bs.ware_code like concat('%', #{wareCode},
            '%')
        </if>
        <if test="materialNb != null and materialNb != ''">and isp.material_nb like concat('%', #{materialNb},
            '%')
        </if>
        <if test="statusList!= null and statusList.size()>0">
            isp.status in
            <foreach item="status" collection="statusList" open="(" separator="," close=")">
                #{status}
            </foreach>
        </if>
        <if test="binDownUser != null and binDownUser != ''">and isp.bin_down_user like concat('%', #{binDownUser},
            '%')
        </if>
        <if test="sampleUser != null and sampleUser != ''">and isp.sample_user like concat('%', #{sampleUser},
            '%')
        </if>
        <if test="startBinDownTime != null">and isp.bin_down_time <![CDATA[ >= ]]> #{startBinDownTime}</if>
        <if test="endBinDownTime != null">and isp.bin_down_time <![CDATA[ <= ]]> #{endBinDownTime}</if>
        <if test="startSampleTime != null">and isp.sample_time <![CDATA[ >= ]]> #{startSampleTime}</if>
        <if test="endSampleTime != null">and isp.sample_time <![CDATA[ <= ]]> #{endSampleTime}</if>

    </select>
</mapper>