<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.MaterialKanbanMapper">
    <update id="deleteByIds" parameterType="String">
        UPDATE material_kanban SET delete_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="receivingMaterialList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT
        mk.id,
        mm.name AS material_name,
        mk.order_number,
        mk.factory_code ,
        mk.ware_code,
        mk.area_code,
        mk.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0' AND (mk.status <![CDATA[ <> ]]>  7 and mk.status <![CDATA[ <> ]]>  6)
        <if test="wareCode != null and wareCode != ''">
            AND mk.ware_code=#{wareCode}
        </if>
        <if test="cell != null and cell != ''">
            AND mk.cell=#{cell}
        </if>
    </select>

    <select id="receivedMaterialList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT
        mk.id,
        mm.name AS material_name,
        mk.order_number,
        mk.factory_code,
        mk.ware_code,
        mk.area_code,
        mk.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="wareCode != null and wareCode != ''">
            AND mk.ware_code=#{wareCode}
        </if>
        <if test="cell != null and cell != ''">
            AND mk.cell=#{cell}
        </if>
        <if test="status != null ">
            AND (mk.status = #{status})
        </if>
    </select>

    <select id="materialInfoList" parameterType="string" resultType="com.bosch.binin.api.domain.vo.MaterialInfoVO">
        SELECT
        bs.batch_nb,
        mm.name AS material_name,
        mk.id,
        mk.order_number,
        bs.plant_nb as factory_code,
        bs.ware_code,
        bs.area_code,
        bs.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * FROM bi_stock )bs ON mk.sscc_number = bs.sscc_number
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="wareCode != null and wareCode != ''">
            AND bs.ware_code=#{wareCode}
        </if>
        <if test="sscc != null and sscc != ''">
            AND mk.sscc_number=#{sscc}
        </if>
        limit 1

    </select>

    <select id="materialInfoBySSCC" parameterType="string" resultType="com.bosch.binin.api.domain.vo.MaterialInfoVO">
        SELECT
        bs.batch_nb,
        mm.name AS material_name,
        mk.id,
        mk.order_number,
        bs.plant_nb as factory_code,
        bs.ware_code,
        bs.area_code,
        bs.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * FROM bi_stock where delete_flag='0')bs ON mk.sscc_number = bs.sscc_number
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0' AND mk.sscc_number in

        <foreach collection="ssccList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getBinDownList" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT bs.batch_nb,
               mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * FROM bi_stock where delete_flag = '0') bs ON mk.sscc_number = bs.sscc_number
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and (mk.status = 3 or mk.status = 4)
          and mk.ware_code like concat('%', #{wareCode}, '%')
    </select>
    <select id="getKanbanInfoBySsccNb" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and mk.status != -1
          and mk.status != 7
          and mk.sscc_number like concat('%', #{ssccNb}, '%')
        limit 1
        for
        update
    </select>
    <select id="waitingBinDownList" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT bs.batch_nb,
               mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * FROM bi_stock where delete_flag = '0') bs ON mk.sscc_number = bs.sscc_number
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and mk.status = 1
          and mk.ware_code like concat('%', #{wareCode}, '%')
          and mk.sscc_number not in (select sscc_nb from ware_shift where delete_flag = 0 and status = 1)
    </select>

    <select id="getKanbanList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT
        mk.id,
        mm.name AS material_name,
        mk.order_number,
        mk.factory_code ,
        mk.ware_code,
        mk.area_code,
        mk.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time,
        mk.batch_nb,
        mk.expire_date,
        mk.bin_down_quantity,
        ifnull(mk.register_batch,0) register_batch
        FROM material_kanban mk
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="orderNumber != null and orderNumber != ''">
            and mk.order_number like concat('%', #{orderNumber}, '%')
        </if>
        <if test="batchNb != null and batchNb != ''">
            and mk.batch_nb like concat('%', #{batchNb}, '%')
        </if>
        <if test="factoryCode != null and factoryCode != ''">
            and mk.factory_code like concat('%', #{factoryCode}, '%')
        </if>
        <if test="wareCode != null and wareCode != ''">
            and mk.ware_code like concat('%', #{wareCode}, '%')
        </if>
        <if test="areaCode != null and areaCode != ''">
            and mk.area_code like concat('%', #{areaCode}, '%')
        </if>
        <if test="materialCode != null and materialCode != ''">
            and mk.material_code like concat('%', #{materialCode}, '%')
        </if>
        <if test="ssccNumber != null and ssccNumber != ''">
            and mk.sscc_number like concat('%', #{ssccNumber}, '%')
        </if>
        <if test="binCode != null and binCode != ''">
            and mk.bin_code like concat('%', #{binCode}, '%')
        </if>
        <if test="cell != null and cell != ''">
            and mk.cell like concat('%', #{cell}, '%')
        </if>
        <if test="createBy != null and createBy != ''">
            and mk.create_by like concat('%', #{createBy}, '%')
        </if>
        <if test="updateBy != null and updateBy != ''">
            and mk.update_by like concat('%', #{updateBy}, '%')
        </if>
        <if test="type != null ">
            AND mk.type=#{type}
        </if>
        <if test="status != null ">
            AND mk.status=#{status}
        </if>
        <if test="createTimeStart != null ">
            AND <![CDATA[mk.create_time >= #{createTimeStart}]]>
        </if>
        <if test="createTimeEnd != null ">
            AND <![CDATA[mk.create_time <= #{createTimeEnd}]]>
        </if>
        <if test="updateTimeStart != null ">
            AND <![CDATA[mk.update_time >= #{updateTimeStart}]]>
        </if>
        <if test="updateTimeEnd != null ">
            AND <![CDATA[mk.update_time <= #{updateTimeEnd}]]>
        </if>
        <if test="materialTypeList!= null and materialTypeList.size()>0">
            and mk.material_code in
            (SELECT
            md_material_type.`code`
            FROM
            md_material
            LEFT JOIN md_material_type ON md_material.material_type_id = md_material_type.id
            AND md_material.delete_flag = 0
            WHERE md_material_type.`code` in
            <foreach collection="materialTypeList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>)
        </if>
        order by mk.update_time desc, mk.create_time desc

    </select>

    <select id="getRegisterBatchList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.RegisterBatchVO">
        SELECT *from (
        SELECT
        t1.`status`,
        t2.order_number,
        t2.material_code,
        t4.NAME material_name,
        t2.sscc_number,
        t2.batch_nb,
        t1.quantity,
        t1.issued_quantity,
        IFNULL( t2.bin_down_quantity, t2.quantity ) pick_quantity,
        t2.picking_time,
        case when t2.received_time is null then null
        else t2.quantity
        end as received_quantity,
        t2.received_time,
        t2.type,
        t2.parent_id,
        t3.material_nb return_material_nb,
        t3.batch_nb return_batch_nb,
        t3.`status` return_status,
        t3.quantity return_quantity,
        t3.create_time return_time,
        case when t3.received_time is null then NULL
        else   t3.quantity
        end as return_received_quantity,
        t3.received_time return_received_time,
        IFNULL( t2.bin_down_quantity, t2.quantity )- IFNULL( t3.quantity, 0 ) product_quantity,
        t5.component_quantity,
        t6.material_quantity - t5.component_quantity gap_quantity
        FROM
        material_call t1
        INNER JOIN material_kanban t2 ON t1.order_nb = t2.order_number
        AND t1.material_nb = t2.material_code
        LEFT JOIN material_return t3 ON t3.order_number = t2.order_number
        AND t3.sscc_number = t2.sscc_number
        AND t3.material_nb = t2.material_code
        AND t3.delete_flag = 0
        LEFT JOIN ( SELECT * FROM md_material WHERE delete_flag = '0' ) t4 ON t2.material_code = t4.
        CODE LEFT JOIN ( SELECT * FROM register_bom WHERE delete_flag = '0' ) t5 ON t2.order_number = t5.order_number
        AND t2.material_code = t5.bom_component
        LEFT JOIN (
        SELECT
        order_number,
        material_code,
        sum( product_quantity ) material_quantity
        FROM
        (
        SELECT
        mk.order_number,
        mk.material_code,
        mk.sscc_number,
        IFNULL( mk.bin_down_quantity, mk.quantity )- ifnull( mr.quantity, 0 ) product_quantity
        FROM
        material_kanban mk
        LEFT JOIN material_return mr ON mr.order_number = mk.order_number
        AND mr.sscc_number = mk.sscc_number
        AND mr.material_nb = mk.material_code
        AND mr.delete_flag = 0
        WHERE
        mk.`status` = 6
        AND mk.delete_flag = 0
        AND mk.register_batch = 1
        union
        SELECT mr.order_number,
        mr.material_nb as material_code,
        mr.sscc_number,
        0 - ifnull( mr.quantity, 0 ) product_quantity
        FROM material_return mr left join material_kanban mk
        ON mr.order_number = mk.order_number
        AND mr.sscc_number = mk.sscc_number
        AND mr.material_nb = mk.material_code
        WHERE mr.delete_flag=0 and mr.order_number is not null
        and mk.sscc_number is null
        ) tt
        GROUP BY
        order_number,
        material_code
        ) t6 ON t6.order_number = t2.order_number
        AND t6.material_code = t2.material_code
        WHERE
        t2.`status` = 6
        AND t1.delete_flag = 0
        AND t2.delete_flag = 0
        AND t1.register_batch = 1
        AND t2.register_batch = 1
        UNION
        SELECT mc.`status`,mr.order_number,mc.material_nb as material_code,mm.name material_name,
        mr.sscc_number,mr.batch_nb,mc.quantity,mc.issued_quantity,0 as pick_quantity,null as picking_time,
        0 as received_quantity,null as received_time,0 as type,null as parent_id,mr.material_nb return_material_nb,
        mr.batch_nb return_batch_nb,mr.`status` return_status,mr.quantity return_quantity,mr.create_time return_time,
        case when  mr.received_time is null then NULL
        else   mr.quantity
        end as return_received_quantity,mr.received_time return_received_time,0-IFNULL(mr.quantity,0) product_quantity,
        rb.component_quantity,v.material_quantity - rb.component_quantity gap_quantity
        from material_call mc INNER JOIN material_return mr
        on mc.order_nb=mr.order_number and mc.material_nb=mr.material_nb and mc.register_batch =1
        left join material_kanban mk on mk.sscc_number = mr.sscc_number
        left join (SELECT * from md_material where delete_flag='0' ) mm ON mr.material_nb=mm.code
        left join (SELECT * from register_bom where delete_flag='0' ) rb ON mr.order_number=rb.order_number
        and mr.material_nb=rb.bom_component
        LEFT JOIN (
        SELECT
        order_number,
        material_code,
        sum( product_quantity ) material_quantity
        FROM
        (
        SELECT
        mk.order_number,
        mk.material_code,
        mk.sscc_number,
        IFNULL( mk.bin_down_quantity, mk.quantity )- ifnull( mr.quantity, 0 ) product_quantity
        FROM
        material_kanban mk
        LEFT JOIN material_return mr ON mr.order_number = mk.order_number
        AND mr.sscc_number = mk.sscc_number
        AND mr.material_nb = mk.material_code
        AND mr.delete_flag = 0
        WHERE
        mk.`status` = 6
        AND mk.delete_flag = 0
        AND mk.register_batch = 1
        union
        SELECT mr.order_number,
        mr.material_nb as material_code,
        mr.sscc_number,
        0 - ifnull( mr.quantity, 0 ) product_quantity
        FROM material_return mr left join material_kanban mk
        ON mr.order_number = mk.order_number
        AND mr.sscc_number = mk.sscc_number
        AND mr.material_nb = mk.material_code
        WHERE mr.delete_flag=0 and mr.order_number is not null
        and mk.sscc_number is null
        ) tt
        GROUP BY
        order_number,
        material_code
        ) v ON v.order_number = mc.order_nb
        AND v.material_code = mc.material_nb
        WHERE mk.sscc_number is null
        and mc.delete_flag=0 and mr.delete_flag=0
        )  v1
        <where>
        <if test="orderNumber != null and orderNumber != ''">
            and v1.order_number like concat('%', #{orderNumber}, '%')
        </if>
        <if test="batchNb != null and batchNb != ''">
            and v1.batch_nb like concat('%', #{batchNb}, '%')
        </if>
        <if test="materialCode != null and materialCode != ''">
            and v1.material_code like concat('%', #{materialCode}, '%')
        </if>
        <if test="ssccNumber != null and ssccNumber != ''">
            and v1.sscc_number like concat('%', #{ssccNumber}, '%')
        </if>
        <if test="createTimeStart != null ">
            AND <![CDATA[v1.picking_time >= #{createTimeStart}]]>
        </if>
        <if test="createTimeEnd != null ">
            AND <![CDATA[v1.picking_time <= #{createTimeEnd}]]>
        </if>
        </where>
        order by order_number, material_code, sscc_number, batch_nb
    </select>
</mapper>