<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.MaterialKanbanMapper">
    <update id="deleteByIds" parameterType="String">
        UPDATE material_kanban SET delete_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="receivingMaterialList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT
        mk.id,
        mm.name AS material_name,
        mk.order_number,
        mk.factory_code ,
        mk.ware_code,
        mk.area_code,
        mk.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0' AND (mk.status <![CDATA[ <> ]]>  7 and mk.status <![CDATA[ <> ]]>  6)
        <if test="wareCode != null and wareCode != ''">
            AND mk.ware_code=#{wareCode}
        </if>
        <if test="cell != null and cell != ''">
            AND mk.cell=#{cell}
        </if>
    </select>

    <select id="receivedMaterialList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT
        mk.id,
        mm.name AS material_name,
        mk.order_number,
        mk.factory_code,
        mk.ware_code,
        mk.area_code,
        mk.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="wareCode != null and wareCode != ''">
            AND mk.ware_code=#{wareCode}
        </if>
        <if test="cell != null and cell != ''">
            AND mk.cell=#{cell}
        </if>
        <if test="status != null ">
            AND (mk.status = #{status})
        </if>
    </select>

    <select id="materialInfoList" parameterType="string" resultType="com.bosch.binin.api.domain.vo.MaterialInfoVO">
        SELECT
        bs.batch_nb,
        mm.name AS material_name,
        mk.id,
        mk.order_number,
        bs.plant_nb as factory_code,
        bs.ware_code,
        bs.area_code,
        bs.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * FROM bi_stock )bs ON mk.sscc_number = bs.sscc_number
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="wareCode != null and wareCode != ''">
            AND bs.ware_code=#{wareCode}
        </if>
        <if test="sscc != null and sscc != ''">
            AND mk.sscc_number=#{sscc}
        </if>
        limit 1

    </select>

    <select id="materialInfoBySSCC" parameterType="string" resultType="com.bosch.binin.api.domain.vo.MaterialInfoVO">
        SELECT
        bs.batch_nb,
        mm.name AS material_name,
        mk.id,
        mk.order_number,
        bs.plant_nb as factory_code,
        bs.ware_code,
        bs.area_code,
        bs.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * FROM bi_stock where delete_flag='0')bs ON mk.sscc_number = bs.sscc_number
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0' AND mk.sscc_number in

        <foreach collection="ssccList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getBinDownList" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT bs.batch_nb,
               mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * FROM bi_stock where delete_flag = '0') bs ON mk.sscc_number = bs.sscc_number
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and (mk.status = 3 or mk.status = 4)
          and mk.ware_code like concat('%', #{wareCode}, '%')
    </select>
    <select id="getKanbanInfoBySsccNb" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and mk.status != -1
          and mk.status != 7
          and mk.sscc_number like concat('%', #{ssccNb}, '%')
        limit 1
        for
        update
    </select>
    <select id="waitingBinDownList" resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
        SELECT bs.batch_nb,
               mm.name         AS material_name,
               mk.id,
               mk.order_number,
               mk.factory_code as factory_code,
               mk.ware_code,
               mk.area_code,
               mk.bin_code,
               mk.material_code,
               mk.quantity,
               mk.move_type,
               mk.sscc_number,
               mk.cell,
               mk.type,
               mk.status,
               mk.create_by,
               mk.update_by,
               mk.create_time,
               mk.update_time
        FROM material_kanban mk
                 LEFT JOIN (SELECT * FROM bi_stock where delete_flag = '0') bs ON mk.sscc_number = bs.sscc_number
                 LEFT JOIN (SELECT * from md_material where delete_flag = '0') mm ON mk.material_code = mm.code
        WHERE mk.delete_flag = 0
          and mk.status = 1
          and mk.ware_code like concat('%', #{wareCode}, '%')
            and mk.sscc_number not in (select sscc_nb from ware_shift where delete_flag = 0 and status = 1)
    </select>

    <select id="getKanbanList" parameterType="MaterialKanbanDTO"
            resultType="com.bosch.binin.api.domain.vo.MaterialKanbanVO">
    SELECT
    mk.id,
    mm.name AS material_name,
    mk.order_number,
    mk.factory_code ,
    mk.ware_code,
    mk.area_code,
    mk.bin_code,
    mk.material_code,
    mk.quantity,
    mk.move_type,
    mk.sscc_number,
    mk.cell,
    mk.type,
    mk.status,
    mk.create_by,
    mk.update_by,
    mk.create_time,
    mk.update_time
    FROM material_kanban mk
    LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
    WHERE 1=1 AND mk.delete_flag='0'
        <if test="orderNumber != null and orderNumber != ''">
            and mk.order_number like concat('%', #{orderNumber}, '%')
        </if>
        <if test="factoryCode != null and factoryCode != ''">
            and mk.factory_code like concat('%', #{factoryCode}, '%')
        </if>
        <if test="wareCode != null and wareCode != ''">
            and mk.ware_code like concat('%', #{wareCode}, '%')
        </if>
        <if test="areaCode != null and areaCode != ''">
            and mk.area_code like concat('%', #{areaCode}, '%')
        </if>
        <if test="materialCode != null and materialCode != ''">
            and mk.material_code like concat('%', #{materialCode}, '%')
        </if>
        <if test="ssccNumber != null and ssccNumber != ''">
            and mk.sscc_number like concat('%', #{ssccNumber}, '%')
        </if>
        <if test="binCode != null and binCode != ''">
            and mk.bin_code like concat('%', #{binCode}, '%')
        </if>
        <if test="cell != null and cell != ''">
            and mk.cell like concat('%', #{cell}, '%')
        </if>
        <if test="createBy != null and createBy != ''">
            and mk.create_by like concat('%', #{createBy}, '%')
        </if>
        <if test="updateBy != null and updateBy != ''">
            and mk.update_by like concat('%', #{updateBy}, '%')
        </if>
        <if test="type != null ">
            AND mk.type=#{type}
        </if>
        <if test="status != null ">
            AND mk.status=#{status}
        </if>
        <if test="createTimeStart != null ">
            AND <![CDATA[mk.create_time >= #{createTimeStart}]]>
        </if>
        <if test="createTimeEnd != null ">
            AND <![CDATA[mk.create_time <= #{createTimeEnd}]]>
        </if>
        <if test="updateTimeStart != null ">
            AND <![CDATA[mk.update_time >= #{updateTimeStart}]]>
        </if>
        <if test="updateTimeEnd != null ">
            AND <![CDATA[mk.update_time <= #{updateTimeEnd}]]>
        </if>
    </select>

    <select id="materialInfo" parameterType="string" resultType="com.bosch.binin.api.domain.vo.MaterialInfoVO">
        SELECT
        bs.batch_nb,
        mm.name AS material_name,
        mk.id,
        mk.order_number,
        bs.plant_nb as factory_code,
        bs.ware_code,
        bs.area_code,
        bs.bin_code,
        mk.material_code,
        mk.quantity,
        mk.move_type,
        mk.sscc_number,
        mk.cell,
        mk.type,
        mk.status,
        mk.create_by,
        mk.update_by,
        mk.create_time,
        mk.update_time
        FROM material_kanban mk
        LEFT JOIN (SELECT * FROM bi_stock )bs ON mk.sscc_number = bs.sscc_number
        LEFT JOIN (SELECT * from md_material where delete_flag='0' )mm ON mk.material_code=mm.code
        WHERE 1=1 AND mk.delete_flag='0'
        <if test="sscc != null and sscc != ''">
            AND mk.sscc_number=#{sscc}
        </if>
        limit 1

    </select>

</mapper>