<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.StockAdjustMapper">

    <select id="selectStockAdjustVOList" resultType="com.bosch.binin.api.domain.vo.StockAdjustVO">
        select bs.id as id,
               bs.sscc_number as sscc_number,
               bs.plant_nb as plant_nb,
               bs.ware_code as ware_code,
               bs.frame_code as frame_code,
               bs.bin_code as bin_code,
               bs.material_nb as material_nb,
               mm.name as material_name,
               bs.batch_nb as batch_nb,
               bs.expire_date as expire_date,
               bs.total_stock as total_stock,
               bs.freeze_stock as freeze_stock,
               bs.available_stock as available_stock,
               bs.create_by as create_by,
               bs.create_time as create_time,
               bs.quality_status as quality_status,
               bs.from_purchase_order,
               bs.area_code as area_code,
               bs.pallet_code as pallet_code,
               bs.adjust_total_stock,
               bs.adjust_freeze_stock,
               bs.adjust_available_stock,
               bs.type,
               md.code as cell
        from stock_adjust bs
                 left join md_material mm on bs.material_nb = mm.code and mm.delete_flag = 0
                 LEFT JOIN md_material_type mt ON mm.material_type_id = mt.id
                 left join md_department md on mt.department_id = md.id
        where bs.delete_flag=0
        <if test="ssccNumber != null and ssccNumber != ''">and bs.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="plantNb != null and plantNb != ''">and bs.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="fromPurchaseOrder != null and fromPurchaseOrder != ''">and bs.from_purchase_order like concat('%',
            #{fromPurchaseOrder}, '%')
        </if>
        <if test="wareCode != null and wareCode != ''">and bs.ware_code like concat('%', #{wareCode}, '%')</if>
        <if test="areaCode != null and areaCode != ''">and bs.area_code like concat('%', #{areaCode}, '%')</if>
        <if test="palletCode != null and palletCode != ''">and bs.pallet_code like concat('%', #{palletCode}, '%')</if>
        <if test="frameCode != null and frameCode != ''">and bs.frame_code like concat('%', #{frameCode}, '%')</if>
        <if test="binCode != null and binCode != ''">and bs.bin_code like concat('%', #{binCode}, '%')</if>
        <if test="materialNb != null and materialNb != ''">and bs.material_nb like concat('%', #{materialNb}, '%')</if>
        <if test="batchNb != null and batchNb != ''">and bs.batch_nb like concat('%', #{batchNb}, '%')</if>
        <if test="operateUser != null and operateUser != ''">and bs.create_by like concat('%', #{operateUser}, '%')</if>
        <if test="cell != null and cell != ''">and md.code like concat('%', #{cell}, '%')</if>
        <if test="startExpireDate != null and endExpireDate != null">and str_to_date(bs.expire_date, '%d/%m/%Y')
            between
            #{startExpireDate} and #{endExpireDate}
        </if>
        <if test="qualityStatus != null and qualityStatus != ''">and bs.quality_status = #{qualityStatus}</if>
        <if test="adjustType != null">and bs.type = #{adjustType}</if>
        order by bs.create_time,bs.id
    </select>

</mapper>