<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.StockMapper">

    <resultMap type="StockVO" id="StockVOResult">
        <result property="id" column="id"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="plantNb" column="plant_nb"/>
        <result property="fromPurchaseOrder" column="from_purchase_order"/>
        <result property="wareCode" column="ware_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="frameCode" column="frame_code"/>
        <result property="binCode" column="bin_code"/>
        <result property="materialNb" column="material_nb"/>
        <result property="materialName" column="material_name"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="expireDate" column="expire_date"/>
        <result property="totalStock" column="total_stock"/>
        <result property="freezeStock" column="freeze_stock"/>
        <result property="availableStock" column="available_stock"/>
        <result property="binInId" column="bin_in_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="qualityStatus" column="quality_status"/>
    </resultMap>
    <select id="selectStockVOList" resultMap="StockVOResult">
        select bs.id as id,
        bs.sscc_number as sscc_number,
        bs.plant_nb as plant_nb,
        bs.from_purchase_order as from_purchase_order,
        bs.ware_code as ware_code,
        bs.frame_code as frame_code,
        bs.bin_code as bin_code,
        bs.material_nb as material_nb,
        mm.name as material_name,
        bs.batch_nb as batch_nb,
        bs.expire_date as expire_date,
        bs.total_stock as total_stock,
        bs.freeze_stock as freeze_stock,
        bs.available_stock as available_stock,
        bs.bin_in_id as bin_in_id,
        bs.create_by as create_by,
        bs.create_time as create_time,
        bs.quality_status as quality_status
--         ma.code as area_code
        from bi_stock bs
        left join md_ware mw
        on mw.code = bs.ware_code
--         left join md_area ma on ma.ware_id = mw.id
        left join md_material mm on bs.material_nb = mm.code
        <where>
            <if test="ssccNumber != null and ssccNumber != ''">and bs.sscc_number = #{ssccNumber}</if>
            <if test="plantNb != null and plantNb != ''">and bs.plant_nb = #{plantNb}</if>
            <if test="fromPurchaseOrder != null and fromPurchaseOrder != ''">and bs.from_purchase_order =
                #{fromPurchaseOrder}
            </if>
            <if test="wareCode != null and wareCode != ''">and bs.ware_code = #{wareCode}</if>
            <if test="frameCode != null and frameCode != ''">and bs.frame_code = #{frameCode}</if>
            <if test="binCode != null and binCode != ''">and bs.bin_code = #{binCode}</if>
            <if test="materialNb != null and materialNb != ''">and bs.material_nb = #{materialNb}</if>
            <if test="batchNb != null and batchNb != ''">and bs.batch_nb = #{batchNb}</if>
            <if test="startExpireDate != null and endExpireDate != null">and str_to_date(bs.expire_date, '%d/%m/%y')
                between
                #{startExpireDate} and #{endExpireDate}
            </if>
            <if test="qualityStatus != null and qualityStatus != ''">and bs.quality_status = #{qualityStatus}</if>
        </where>

    </select>


</mapper>