<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.WareShiftMapper">


    <select id="getWaitingBinIn" resultType="com.bosch.binin.api.domain.vo.WareShiftVO">
        SELECT ws.*,
        bi.recommend_bin_code,
        mm.`name` as material_name
        FROM ware_shift ws
        LEFT JOIN bi_in bi ON ws.sscc_nb = bi.sscc_number and bi.delete_flag=0
        LEFT JOIN md_material mm on ws.material_nb = mm.`code` and mm.delete_flag=0
        WHERE ws.status = 5
        <if test="wareCode != null and wareCode != ''">
            and ws.target_ware_code = #{wareCode}
        </if>
    </select>
    <select id="list" resultType="com.bosch.binin.api.domain.vo.WareShiftVO">
        select ws.*,
        mm.name as material_name,
               tr.order_number as order_nb,tr.car_nb as carNb
        from ware_shift ws
        left join (SELECT * from md_material where delete_flag = '0') mm on ws.material_nb = mm.code
        left join transhipment_order tr on tr.ware_shift_id = ws.id and tr.delete_flag = 0 and tr.sscc_number = ws.sscc_nb
        where ws.delete_flag = 0
        <if test="sourceWareCode != null and sourceWareCode != ''">
            AND ws.source_ware_code=#{sourceWareCode}
        </if>

        <if test="targetWareCode != null and targetWareCode != ''">
            AND ws.target_ware_code=#{targetWareCode}
        </if>

        <if test="status != null ">
            AND (ws.status = #{status})
        </if>
        <if test="createBy != null and createBy != ''">and ws.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null">and ws.create_time <![CDATA[ >= ]]> #{startCreateTime}</if>
        <if test="endCreateTime != null">and ws.create_time <![CDATA[ <= ]]> #{endCreateTime}</if>
        <if test="startUpdateTime != null">and ws.update_time <![CDATA[ >= ]]> #{startUpdateTime}</if>
        <if test="startUpdateTime != null">and ws.update_time <![CDATA[ <= ]]> #{endUpdateTime}</if>

        order by create_time desc
    </select>
</mapper>