<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.maindata.mapper.FrameMapper">
    
    <resultMap type="Frame" id="FrameResult">
        <result property="id"    column="id"    />
        <result property="wareCode"    column="ware_code"    />
        <result property="wareName"    column="ware_name"    />
        <result property="wareType"    column="ware_type"    />
        <result property="areaCode"    column="area_code"    />
        <result property="areaName"    column="area_name"    />
        <result property="shelveCode"    column="shelve_code"    />
        <result property="shelveName"    column="shelve_name"    />
        <result property="code"    column="code"    />
        <result property="width"    column="width"    />
        <result property="bearWeight"    column="bear_weight"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFrameVo">
        select id, ware_code, ware_name, ware_type, area_code, area_name, shelve_code, shelve_name, code, width, bear_weight, create_by, update_by, create_time, update_time, status, remark from frame
    </sql>

    <select id="selectFrameList" parameterType="Frame" resultMap="FrameResult">
        <include refid="selectFrameVo"/>
        <where>  
            <if test="wareCode != null  and wareCode != ''"> and ware_code = #{wareCode}</if>
            <if test="wareName != null  and wareName != ''"> and ware_name like concat('%', #{wareName}, '%')</if>
            <if test="wareType != null "> and ware_type = #{wareType}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="shelveCode != null  and shelveCode != ''"> and shelve_code = #{shelveCode}</if>
            <if test="shelveName != null  and shelveName != ''"> and shelve_name like concat('%', #{shelveName}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="bearWeight != null "> and bear_weight = #{bearWeight}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFrameById" parameterType="Long" resultMap="FrameResult">
        <include refid="selectFrameVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFrame" parameterType="Frame" useGeneratedKeys="true" keyProperty="id">
        insert into frame
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wareCode != null">ware_code,</if>
            <if test="wareName != null">ware_name,</if>
            <if test="wareType != null">ware_type,</if>
            <if test="areaCode != null">area_code,</if>
            <if test="areaName != null">area_name,</if>
            <if test="shelveCode != null">shelve_code,</if>
            <if test="shelveName != null">shelve_name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="width != null">width,</if>
            <if test="bearWeight != null">bear_weight,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wareCode != null">#{wareCode},</if>
            <if test="wareName != null">#{wareName},</if>
            <if test="wareType != null">#{wareType},</if>
            <if test="areaCode != null">#{areaCode},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="shelveCode != null">#{shelveCode},</if>
            <if test="shelveName != null">#{shelveName},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="width != null">#{width},</if>
            <if test="bearWeight != null">#{bearWeight},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFrame" parameterType="Frame">
        update frame
        <trim prefix="SET" suffixOverrides=",">
            <if test="wareCode != null">ware_code = #{wareCode},</if>
            <if test="wareName != null">ware_name = #{wareName},</if>
            <if test="wareType != null">ware_type = #{wareType},</if>
            <if test="areaCode != null">area_code = #{areaCode},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="shelveCode != null">shelve_code = #{shelveCode},</if>
            <if test="shelveName != null">shelve_name = #{shelveName},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="width != null">width = #{width},</if>
            <if test="bearWeight != null">bear_weight = #{bearWeight},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFrameById" parameterType="Long">
        delete from frame where id = #{id}
    </delete>

    <delete id="deleteFrameByIds" parameterType="String">
        delete from frame where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>