<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.maindata.mapper.ItemLocationMapper">
    
    <resultMap type="ItemLocation" id="ItemLocationResult">
        <result property="id"    column="id"    />
        <result property="itemId"    column="item_id"    />
        <result property="locationId"    column="location_id"    />
        <result property="priorityLevel"    column="priority_level"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectItemLocationVo">
        select id, item_id, location_id, priority_level, create_by, update_by, create_time, update_time, status, remark from item_location
    </sql>

    <select id="selectItemLocationList" parameterType="ItemLocation" resultMap="ItemLocationResult">
        <include refid="selectItemLocationVo"/>
        <where>  
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="locationId != null "> and location_id = #{locationId}</if>
            <if test="priorityLevel != null "> and priority_level = #{priorityLevel}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectItemLocationById" parameterType="Long" resultMap="ItemLocationResult">
        <include refid="selectItemLocationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertItemLocation" parameterType="ItemLocation" useGeneratedKeys="true" keyProperty="id">
        insert into item_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="locationId != null">location_id,</if>
            <if test="priorityLevel != null">priority_level,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="priorityLevel != null">#{priorityLevel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateItemLocation" parameterType="ItemLocation">
        update item_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="priorityLevel != null">priority_level = #{priorityLevel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteItemLocationById" parameterType="Long">
        delete from item_location where id = #{id}
    </delete>

    <delete id="deleteItemLocationByIds" parameterType="String">
        delete from item_location where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>