<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.maindata.mapper.LocationMapper">
    
    <resultMap type="Location" id="LocationResult">
        <result property="id"    column="id"    />
        <result property="frameId"    column="frame_id"    />
        <result property="code"    column="code"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLocationVo">
        select id, frame_id, code, create_by, update_by, create_time, update_time, status, remark from location
    </sql>

    <select id="selectLocationList" parameterType="Location" resultMap="LocationResult">
        <include refid="selectLocationVo"/>
        <where>  
            <if test="frameId != null "> and frame_id = #{frameId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectLocationById" parameterType="Long" resultMap="LocationResult">
        <include refid="selectLocationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLocation" parameterType="Location">
        insert into location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="frameId != null">frame_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="frameId != null">#{frameId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLocation" parameterType="Location">
        update location
        <trim prefix="SET" suffixOverrides=",">
            <if test="frameId != null">frame_id = #{frameId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLocationById" parameterType="Long">
        delete from location where id = #{id}
    </delete>

    <delete id="deleteLocationByIds" parameterType="String">
        delete from location where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>