<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.storagein.mapper.MaterialRecevieMapper">

    <resultMap type="MaterialReceiveVO" id="MaterialReceiveVOResult">
        <result property="id" column="id"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="expireDate" column="expire_date"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="fromPurchaseOrder" column="from_purchase_order"/>
        <result property="poNumberItem" column="po_number_item"/>
        <result property="uploadUser" column="upload_user"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="status" column="status"/>
    </resultMap>
    <sql id="selectMaterialReceiveVo">
        select id,
               sscc_number,
               batch_nb,
               str_to_date(expire_date, '%d/%m/%y') as expire_date,
               unit,
               quantity,
               from_purchase_order,
               po_number_item,
               upload_user,
               upload_time,
               update_user,
               update_time,
               delete_flag,
               status
        from si_material_receive
    </sql>

    <select id="selectMaterialReceiveVOList" parameterType="MaterialReceiveDTO" resultMap="MaterialReceiveVOResult">
        <include refid="selectMaterialReceiveVo"/>
        where delete_flag=1
        <if test="ssccNumber != null  and ssccNumber != ''">and sscc_number = #{ssccNumber}</if>
        <if test="materialNb != null  and materialNb != ''">and material_nb = #{materialNb}</if>
        <if test="fromPurchaseOrder != null and fromPurchaseOrder != ''">and from_purchase_order =
            #{fromPurchaseOrder}
        </if>
        <if test="status != null  and status != ''">and status = #{status}</if>
    </select>

    <select id="selectMaterialReceiveVOBySncc" parameterType="string" resultMap="MaterialReceiveVOResult">
        <include refid="selectMaterialReceiveVo"/>
        where delete_flag=1 and sscc_number = #{snccNumber}
    </select>


    <update id="deleteMaterialReceiveVOById" parameterType="Long">
        update si_material_receive
        set delete_flag = 0
        where id = #{id}
    </update>


    <update id="deleteMaterialReceiveVOByIds" parameterType="List">
        update si_material_receive set delete_flag = 0
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateStatusBySscc" >
        update si_material_receive
        set status = #{status}
        where sscc_number = #{ssccNumber}
    </update>

</mapper>