<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.BinMapper">

    <resultMap type="Bin" id="BinResult">
        <result property="id" column="id"/>
        <result property="frameId" column="frame_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <resultMap type="BinVO" id="BinVOResult">
        <result property="id" column="id"/>
        <result property="frameId" column="frame_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="wareCode" column="wareCode"/>
        <result property="wareName" column="wareName"/>
        <result property="wareId" column="wareId"/>
        <result property="areaCode" column="areaCode"/>
        <result property="areaName" column="areaName"/>
        <result property="areaId" column="areaId"/>
        <result property="frameCode" column="frameCode"/>
        <result property="frameName" column="frameName"/>
        <result property="frameTypeCode" column="frameTypeCode"/>
        <result property="frameWidth" column="frameWidth"/>
        <result property="frameBearWeight" column="frameBearWeight"/>
        <result property="createTime" column="createTime"/>
        <result property="plantNb" column="plantNb"/>

    </resultMap>
    <sql id="selectBinVo">
        select id,
               frame_id,
               name,
               code,
               create_by,
               update_by,
               create_time,
               update_time,
               status,
               remark
        from md_bin
    </sql>
    <sql id="binVOList">
        SELECT b.id,
               b.frame_id as frame_id,
               b.CODE        as code,
               b.NAME        as name,
               w.CODE        as wareCode,
               w.NAME        as wareName,
               w.factory_code as planNb,
               w.id          as wareId,
               a.code        as areaCode,
               a.name        as areaName,
               a.id          as areaId,
               f.code        as frameCode,
               f.name        as frameName,
                f.type_code        as frameTypeCode,
               f.width       as frameWidth,
               f.bear_weight as frameBearWeight,
               b.create_time as createTime
        FROM md_bin AS b
                 LEFT JOIN md_frame AS f ON b.frame_id = f.id
                 LEFT JOIN md_area AS a ON f.area_id = a.id
                 LEFT JOIN md_ware AS w ON a.ware_id = w.id
    </sql>
    <select id="selectBinList" parameterType="Bin" resultMap="BinResult">
        <include refid="selectBinVo"/>
        <where>
            <if test="frameId != null ">and frame_id = #{frameId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>
    <select id="selectBinVOList" parameterType="BinDTO" resultMap="BinVOResult">
        <include refid="binVOList"/>
        <where>
            <if test="frameId != null ">and b.frame_id = #{frameId}</if>
            <if test="name != null  and name != ''">and b.name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''">and b.code = #{code}</if>
            <if test="status != null ">and b.status = #{status}</if>
        </where>
    </select>
    <select id="selectBinById" parameterType="Long" resultMap="BinResult">
        <include refid="selectBinVo"/>
        where id = #{id}
    </select>
    <select id="selectBinVOById" parameterType="Long" resultMap="BinVOResult">
        <include refid="binVOList"/>
        where b.id = #{id}
    </select>

    <select id="selectBinVOByCode"  resultMap="BinVOResult">
        <include refid="binVOList"/>
        where b.code = #{code}
    </select>
    <select id="selectBinVOByFrameType"  resultMap="BinVOResult">
        <include refid="binVOList"/>
        where f.type_code = #{code}
    </select>

    <insert id="insertBin" parameterType="Bin">
        insert into md_bin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="frameId != null">frame_id,</if>
            <if test="name != null">name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="frameId != null">#{frameId},</if>
            <if test="name != null">#{name},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateBin" parameterType="Bin">
        update md_bin
        <trim prefix="SET" suffixOverrides=",">
            <if test="frameId != null">frame_id = #{frameId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBinById" parameterType="Long">
        delete
        from md_bin
        where id = #{id}
    </delete>

    <delete id="deleteBinByIds" parameterType="String">
        delete from md_bin where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>