<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.BlackDriverMapper">

    <resultMap type="com.bosch.masterdata.api.domain.BlackDriver" id="BlackDriverResult">
        <result property="driverId" column="driver_id"/>
        <result property="driverName" column="driver_name"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectBlackDriver">
        select driver_id,
               driver_name,
               status,
               remark,
               create_by,
               update_by,
               create_time,
               update_time
        from md_black_driver
    </sql>

    <select id="selectBlackDriverList" parameterType="com.bosch.masterdata.api.domain.BlackDriver" resultMap="BlackDriverResult">
        <include refid="selectBlackDriver"/>
        <where>
            <if test="driverName != null  and driverName != ''">and driver_name like concat('%', #{driverName}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

</mapper>