<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.MdProductPackagingMapper">

    <resultMap id="BaseResultMap" type="com.bosch.masterdata.api.domain.ProductPackaging">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
            <result property="productNo" column="product_no" jdbcType="VARCHAR"/>
            <result property="cell" column="cell" jdbcType="VARCHAR"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="transportUnit" column="transport_unit" jdbcType="VARCHAR"/>
        <result property="boxSpecification" column="box_specification" jdbcType="VARCHAR"/>
            <result property="standardUnits" column="standard_units" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="VARCHAR"/>
        <result property="volume" column="volume" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,update_by,
        create_time,update_time,status,
        remark,delete_flag,product_no,
        cell,product_name,transport_unit,box_specification,standard_units,weight,volume
    </sql>

    <select id="selectListByDTO" parameterType="MdProductPackagingDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from md_product_packaging
        <where>
            delete_flag='0'
            <if test="productNo != null and productNo != '' ">and product_no like concat('%', #{productNo},'%')</if>
            <if test="cell != null and cell != '' ">and cell = #{cell}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <update id="updateMdProductPackaging" parameterType="MdProductPackagingDTO">
        update md_product_packaging
        set
        product_no=#{productNo},
        cell=#{cell},
        product_name=#{productName},
        transport_unit=#{transportUnit},
        box_specification=#{boxSpecification},
        standard_units=#{standardUnits},
        weight=#{weight},
        volume=#{volume}
        where id=#{id} and delete_flag='0'
    </update>

    <update id="deleteMdProductPackaging" parameterType="Long[]">
        update md_product_packaging
        set delete_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="validateRecord" resultType="integer" parameterType="MdProductPackagingDTO">
        SELECT COUNT(*) FROM md_product_packaging
        WHERE delete_flag='0' and (product_no, cell) IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            (#{item.productNo},#{item.cell})
        </foreach>
    </select>
</mapper>
