<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.ProductFrameMapper">


    <select id="getBinInRule" resultType="com.bosch.masterdata.api.domain.vo.ProductFrameVO">

        SELECT
        mf.id AS id,
        mf.frame_type_code AS frame_type_code,
        mf.material_id AS material_id,
        mf.priority_level AS priority_level,
        mf.create_time AS create_time,
        m.product_no as material_code,
        m.product_name as material_name,
        m.id as material_id
        FROM
        md_product_frame mf
        LEFT JOIN md_product_packaging m ON mf.material_id = m.id
        WHERE mf.material_code =#{materialCode} and mf.frame_type_code IN (
        SELECT type_code FROM md_frame f
        LEFT JOIN md_area a ON f.area_id=a.id
        LEFT JOIN md_ware w ON w.id=a.ware_id
        WHERE 1=1
        <if test="wareCode != null  and wareCode != ''">AND w.code LIKE   concat('%', #{wareCode}, '%')</if>
        )
    </select>
</mapper>