<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.WareMapper">

    <resultMap type="Ware" id="WareResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="factoryName" column="factory_name"/>
        <result property="location" column="location"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="wareUser" column="ware_user"/>
        <result property="wareUserPhone" column="ware_user_phone"/>
        <result property="dockNum" column="dock_num"/>
    </resultMap>
    <resultMap type="FactoryVO" id="FactoryResult">
        <result property="factoryCode" column="factory_code"/>
        <result property="factoryName" column="factory_name"/>
    </resultMap>

    <sql id="selectWareVo">
        select id,
               factory_code,
               factory_name,
               code,
               name,
               location,
               create_by,
               update_by,
               create_time,
               update_time,
               status,
               remark,
               ware_user,
               ware_user_phone,
               dock_num
        from md_ware
    </sql>

    <select id="selectWareList" parameterType="Ware" resultMap="WareResult">
        <include refid="selectWareVo"/>
        <where>
            <if test="factoryCode != null  and factoryCode != ''">and factory_code = #{factoryCode}</if>
            <if test="factoryName != null  and factoryName != ''">and factory_name like concat('%', #{factoryName},
                '%')
            </if>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="location != null  and location != ''">and location = #{location}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
    </select>

    <select id="selectWareById" parameterType="String" resultMap="WareResult">
        <include refid="selectWareVo"/>
        where id = #{id}
    </select>

    <select id="selectFactoryList" resultMap="FactoryResult">
        select distinct factory_code,factory_name from md_ware where status =1
    </select>

    <select id="fetchWareList" resultType="com.bosch.masterdata.api.domain.vo.WareSelectVO">
        select id,code,dock_num as dockNum from md_ware where status =1
    </select>

    <insert id="insertWare" parameterType="Ware">
        insert into md_ware
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="factoryCode != null and factoryCode != ''">factory_code,</if>
            <if test="factoryName != null and factoryName != ''">factory_name,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="wareUser != null"> ware_user,</if>
            <if test="wareUserPhone != null">ware_user_phone,</if>
            <if test="dockNum != null">dock_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="factoryCode != null and factoryCode != ''">#{factoryCode},</if>
            <if test="factoryName != null and factoryName != ''">#{factoryName},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="wareUser != null">#{wareUser},</if>
            <if test="wareUserPhone != null">#{wareUserPhone},</if>
            <if test="dockNum != null">#{dockNum},</if>
        </trim>
    </insert>

    <update id="updateWare" parameterType="Ware">
        update md_ware
        <trim prefix="SET" suffixOverrides=",">
            <if test="factoryCode != null and factoryCode != ''">factory_code = #{factoryCode},</if>
            <if test="factoryName != null and factoryName != ''">factory_name = #{factoryName},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="wareUser != null and wareUser != ''"> ware_user = #{wareUser},</if>
            <if test="wareUserPhone != null and wareUserPhone != ''">ware_user_phone = #{wareUserPhone},</if>
            <if test="dockNum != null">dock_num = #{dockNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWareById" parameterType="String">
        delete
        from md_ware
        where id = #{id}
    </delete>

    <delete id="deleteWareByIds" parameterType="String">
        delete from md_ware where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>