<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.masterdata.mapper.MaterialBinMapper">
    
    <resultMap type="MaterialBin" id="MaterialBinResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="binId"    column="bin_id"    />
        <result property="priorityLevel"    column="priority_level"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMaterialBinVo">
        select id, material_id, bin_id, priority_level, create_by, update_by, create_time, update_time, status, remark from md_material_bin
    </sql>

    <select id="selectMaterialBinList" parameterType="MaterialBin" resultMap="MaterialBinResult">
        <include refid="selectMaterialBinVo"/>
        <where>  
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="binId != null "> and bin_id = #{binId}</if>
            <if test="priorityLevel != null "> and priority_level = #{priorityLevel}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMaterialBinById" parameterType="Long" resultMap="MaterialBinResult">
        <include refid="selectMaterialBinVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMaterialBin" parameterType="MaterialBin" useGeneratedKeys="true" keyProperty="id">
        insert into md_material_bin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialId != null">material_id,</if>
            <if test="binId != null">bin_id,</if>
            <if test="priorityLevel != null">priority_level,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialId != null">#{materialId},</if>
            <if test="binId != null">#{binId},</if>
            <if test="priorityLevel != null">#{priorityLevel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMaterialBin" parameterType="MaterialBin">
        update md_material_bin
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="binId != null">bin_id = #{binId},</if>
            <if test="priorityLevel != null">priority_level = #{priorityLevel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaterialBinById" parameterType="Long">
        delete from md_material_bin where id = #{id}
    </delete>

    <delete id="deleteMaterialBinByIds" parameterType="String">
        delete from md_material_bin where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>