<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.ProductReceiveMapper">


    <resultMap type="com.bosch.product.api.domain.vo.ProductReceiveVO" id="ProductReceiveVOResult">
        <result property="id" column="id"/>
        <result property="plantNb" column="plant_nb"/>
        <result property="wareCode" column="ware_code"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="materialNb" column="material_nb"/>
        <result property="materialName" column="material_name"/>
        <result property="expireDate" column="expire_date"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="fromProdOrder" column="from_prod_order"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="totalStockSum" column="total_stock_sum"/>

    </resultMap>


    <select id="list" resultMap="ProductReceiveVOResult">
        select pr.id,
        pr.sscc_number,
        pr.batch_nb,
        str_to_date(pr.expire_date, '%d/%m/%Y') as expire_date,
        pr.material_nb,
        p.product_name as material_name,
        pr.unit,
        pr.quantity,
        pr.from_prod_order,
        pr.create_by,
        pr.create_time,
        pr.update_by,
        pr.update_time,
        pr.status,
        pr.plant_nb,
        pr.ware_code,
        pr.production_date,
        (SELECT SUM(quantity) FROM product_receive p
        WHERE p.from_prod_order = pr.from_prod_order
        and p.delete_flag = 0
        <if test="plantNb != null  and plantNb != ''">and p.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="materialNb != null  and materialNb != ''">and p.material_nb like concat('%', #{materialNb}, '%')</if>
        <if test="batchNb != null  and batchNb != ''">and p.batch_nb like concat('%', #{batchNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and p.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and p.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="status != null">and p.status = #{status}</if>
        <if test="createBy != null  and createBy != ''">and p.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(p.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>

        ) AS
        total_stock_sum

        from product_receive pr
        left join  md_product_packaging p   on pr.material_nb = p.product_no AND p.delete_flag=0
        where pr.delete_flag=0
        <if test="plantNb != null  and plantNb != ''">and pr.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="materialNb != null  and materialNb != ''">and pr.material_nb like concat('%', #{materialNb}, '%')</if>
        <if test="batchNb != null  and batchNb != ''">and pr.batch_nb like concat('%', #{batchNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and pr.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and pr.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="status != null">and pr.status = #{status}</if>
        <if test="createBy != null  and createBy != ''">and pr.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(pr.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>
        order by update_time desc,create_time desc


    </select>

    <select id="validateRecord" resultType="integer" parameterType="ProductReceiveDTO">
        SELECT COUNT(*) FROM product_receive
        WHERE delete_flag='0' and (sscc_number) IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            (#{item.ssccNumber})
        </foreach>
    </select>
</mapper>