<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.SPDNMapper">


    <resultMap id="DeliveryOrderResultMap" type="com.bosch.product.api.domain.vo.SPDNVO">
        <id property="id" column="id"/>
        <result property="externalRef" column="external_ref"/>
        <result property="plant" column="plant"/>
        <result property="deliveryNb" column="delivery_nb"/>
        <result property="shipTo" column="ship_to"/>
        <result property="shipDate" column="ship_date"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="deliveryItem" column="delivery_item"/>
        <result property="material" column="material"/>
        <result property="batch" column="batch"/>
        <result property="qty" column="qty"/>
        <result property="uom" column="uom"/>
        <result property="storageLocation" column="storage_location"/>
        <result property="prodBatch" column="prod_batch"/>
        <result property="materialName" column="material_name"/>
        <result property="boxSpecification" column="box_specification"/>
        <result property="totalPCS" column="total_pcs"/>

    </resultMap>


    <select id="getList" resultType="com.bosch.product.api.domain.vo.SPDNVO">
        SELECT sp.*,pp.product_name materialName, pp.box_specification as boxSpecification

        FROM spdn sp
                 left join md_product_packaging pp on pp.product_no = sp.material and pp.delete_flag = 0

        WHERE sp.delete_flag = 0


        <if test="plant != null and plant != ''">
            AND sp.plant like concat('%', #{plant}, '%')
        </if>
        <if test="deliveryNb != null and deliveryNb != ''">
            AND sp.delivery_nb like concat('%', #{deliveryNb}, '%')
        </if>
        <if test="shipTo != null and shipTo != ''">
            AND sp.ship_to like concat('%', #{shipTo}, '%')
        </if>
        <if test="ssccNumber != null and ssccNumber != ''">
            AND sp.sscc_number like concat('%', #{ssccNumber}, '%')
        </if>
        <if test="material != null and material != ''">
            AND sp.material like concat('%', #{material}, '%')
        </if>
        <if test="batch != null and batch != ''">
            AND sp.batch like concat('%', #{batch}, '%')
        </if>
        <if test="startCreateTime != null">and sp.create_time <![CDATA[ >= ]]> #{startCreateTime}</if>
        <if test="endCreateTime != null">and sp.create_time <![CDATA[ <= ]]> #{endCreateTime}</if>
        <if test="status != null">and sp.status = #{status}</if>



    </select>

</mapper>