<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.ProductPickMapper">


    <select id="list" resultType="com.bosch.product.api.domain.vo.ProductPickVO">
        SELECT pp.*,mp.product_name as materialName,mp.cell as cell
        FROM product_pick AS pp left join md_product_packaging mp on pp.material = mp.product_no and mp.delete_flag = 0
        where pp.delete_flag = 0
        <if test="sudnId != null">and pp.sudn_id = #{sudnId}</if>
        <if test="status != null">and pp.status = #{status}</if>
        <if test="delivery != null and delivery != ''">
            AND pp.delivery like concat('%', #{delivery}, '%')
        </if>
        <if test="cell != null and cell != ''">
            AND mp.cell like concat('%', #{cell}, '%')
        </if>
        <if test="item != null and item != ''">
            AND pp.item like concat('%', #{item}, '%')
        </if>
        <if test="ssccNb != null and ssccNb != ''">
            AND pp.sscc like concat('%', #{ssccNb}, '%')
        </if>
        <if test="material != null and material != ''">
            AND pp.material like concat('%', #{material}, '%')
        </if>
        <if test="batch != null and batch != ''">
            AND pp.batch like concat('%', #{batch}, '%')
        </if>
        <if test="productionBatch != null and productionBatch != ''">
            AND pp.production_batch like concat('%', #{productionBatch}, '%')
        </if>
        <if test="shipper != null and shipper != ''">
            AND pp.shipper like concat('%', #{shipper}, '%')
        </if>
        <if test="startCreateTime != null">and DATE(pp.create_time) <![CDATA[ >= ]]> DATE(#{startCreateTime})</if>
        <if test="endCreateTime != null">and DATE(pp.create_time) <![CDATA[ <= ]]> DATE(#{endCreateTime})</if>


    </select>
    <select id="binDownlist" resultType="com.bosch.product.api.domain.vo.ProductPickVO">
        select pp.sscc, sum(delivery_quantity) as delivery_quantity, pp.material, pp.bin_code,pp.status,mpp.product_name as materialName,pp.production_batch
        from product_pick pp left join md_product_packaging mpp on mpp.product_no = pp.material and mpp.delete_flag = 0
        where pp.delete_flag = 0
        <if test="status != null">and pp.status = #{status}</if>
        <if test="delivery != null and delivery != ''">and pp.delivery = #{delivery}</if>
        <if test="wareCode != null and wareCode != ''">and pp.ware_code = #{wareCode}</if>
        <if test="sscc != null and sscc != ''">
            AND pp.sscc like concat('%', #{sscc}, '%')
        </if>
        group by pp.sscc, pp.material, pp.bin_code,pp.status,mpp.product_name,pp.production_batch

    </select>
    <select id="getSUDNPickExportVO" resultType="com.bosch.product.api.domain.vo.ProductPickExportVO">
        select pp.delivery as delivery,
        pp.plant as plant,
        -- pp.sscc as ssccNumber,
        pp.ship_to_party as shipToParty,
        pp.name_of_ship_to_party as nameOfShipToParty,
        pp.delivery_date as deliveryDate,
        pp.item as item,
        pp.material as material,
        STR_TO_DATE(pp.expire_date, '%Y-%m-%d') as batch,
               pp.production_batch as production_batch,
        pp.sales_unit as salesUnit,
        sum(delivery_quantity) as deliveryQuantity
        from product_pick pp
        where pp.delete_flag = 0  and pp.status != -1
        <if test="sudnId != null">and pp.sudn_id = #{sudnId}</if>
        <if test="status != null">and pp.status = #{status}</if>
        <if test="delivery != null and delivery != ''">
            AND pp.delivery like concat('%', #{delivery}, '%')
        </if>
        <!--<if test="ssccNb != null and ssccNb != ''">
            AND pp.sscc like concat('%', #{ssccNb}, '%')
        </if>-->
        <if test="material != null and material != ''">
            AND pp.material like concat('%', #{material}, '%')
        </if>
        <if test="batch != null and batch != ''">
            AND pp.batch like concat('%', #{batch}, '%')
        </if>
        <if test="productionBatch != null and productionBatch != ''">
            AND pp.production_batch like concat('%', #{productionBatch}, '%')
        </if>
        <if test="shipper != null and shipper != ''">
            AND pp.shipper like concat('%', #{shipper}, '%')
        </if>

        <if test="startCreateTime != null">and DATE(pp.create_time) <![CDATA[ >= ]]> DATE(#{startCreateTime})</if>
        <if test="endCreateTime != null">and DATE(pp.create_time) <![CDATA[ <= ]]> DATE(#{endCreateTime})</if>


        group by pp.delivery, pp.plant, pp.ship_to_party, pp.name_of_ship_to_party, pp.delivery_date, pp.item,
        pp.material, pp.expire_date, pp.production_batch, pp.sales_unit,pp.batch
    </select>

    <select id="getSudnStockExportVO" resultType="com.bosch.product.api.domain.vo.SudnStockExportVO">
        SELECT
        ps.from_prod_order fromProdOrder,
        ps.ware_code wareCode,
        ps.area_code areaCode,
        ps.sscc_number ssccNumber,
        ps.material_nb materialNb,
        mpp.product_name materialName,
        mpp.type as materialType ,
        ps.total_stock totalStock,
        (SELECT SUM(p.total_stock) FROM product_stock p
        WHERE p.from_prod_order = ps.from_prod_order and p.delete_flag = 0
        and p.plant_nb = '7761') totalStockSum,
        ps.freeze_stock freezeStock,
        ps.available_stock availableStock,
        mpp.box_specification boxSpecification,
        ROUND(ps.total_stock * mpp.box_specification) as pcsTotalStock,
        ROUND(ps.freeze_stock * mpp.box_specification) as pcsFreezeStock,
        ROUND(ps.available_stock * mpp.box_specification) as pcsAvailableStock,
        ps.quality_status qualityStatus,
        ps.unit,
        mpp.cell,
        pp.name_of_ship_to_party nameOfShipToParty,
        pp.plant,
        pp.delivery,
        pp.ship_to_party shipToParty,
        pp.delivery_date deliveryDate,
        pp.item,
        pp.batch,
        pp.delivery_quantity deliveryQuantity,
        sp.uom,
        sp.storage_location storageLocation,
        pp.production_batch productionBatch,
        pp.bin_down_date binDownDate,
        sp.delivery_nb deliveryNb
        from  product_pick  pp
        left join product_stock ps on ps.sscc_number=pp.sscc and ps.plant_nb = '7761' -- and ps.delete_flag = 0
        left join spdn sp on sp.sscc_number=pp.sscc and sp.delete_flag =0
        left join md_product_packaging mpp on mpp.product_no = ps.material_nb and mpp.delete_flag = 0
        WHERE pp.delete_flag=0 and pp.`status`>=0
        and pp.update_time <![CDATA[ >= ]]> #{startDate}
        and pp.update_time <![CDATA[ <= ]]> #{endDate}
    </select>

</mapper>