<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.ProductStockMapper">


    <resultMap type="com.bosch.product.api.domain.vo.ProductStockVO" id="StockVOResult">
        <result property="id" column="id"/>
        <result property="ssccNumber" column="sscc_number"/>
        <result property="plantNb" column="plant_nb"/>
        <result property="fromProdOrder" column="from_prod_order"/>
        <result property="wareCode" column="ware_code"/>
        <result property="areaCode" column="area_code"/>
        <result property="frameCode" column="frame_code"/>
        <result property="binCode" column="bin_code"/>
        <result property="materialNb" column="material_nb"/>
        <result property="materialName" column="material_name"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="expireDate" column="expire_date"/>
        <result property="totalStock" column="total_stock"/>
        <result property="freezeStock" column="freeze_stock"/>
        <result property="availableStock" column="available_stock"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="qualityStatus" column="quality_status"/>
        <result property="wholeFlag" column="whole_flag"/>
        <result property="changeStatus" column="change_status"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="unit" column="unit"/>
        <result property="cell" column="cell"/>
        <result property="productionDate" column="production_date"/>
        <result property="binInFlag" column="bin_in_flag"/>
    </resultMap>
    <update id="changeStatus">
        update product_stock b set
        b.change_status =1 ,
        b.quality_status=#{qualityStatus}
        <if test=' type != "" and type=="0" '>
            where b.id =#{id} and b.freeze_stock = 0 and b.plant_nb != '7701' and b.plant_nb != '7761'
        </if>
        <if test='type != "" and type == "1"'>
            where  b.freeze_stock = 0 and b.plant_nb != '7701' and b.plant_nb != '7761' and b.batch_nb =
            (SELECT a.batch_nb from
            (SELECT batch_nb from product_stock where id=#{id}) a )
            and b.quality_status in
            <foreach collection="fromStatusList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </update>
    <update id="changeSUQAStatus">
        update product_stock b set
        b.change_status =1 ,
        b.quality_status=#{qualityStatus}
        <if test=' type != "" and type=="0" '>
            where b.id =#{id} and b.freeze_stock = 0  and b.plant_nb = '7761'
        </if>
        <if test='type != "" and type == "1"'>
            where  b.freeze_stock = 0 and  b.plant_nb = '7761' and b.batch_nb =
            (SELECT a.batch_nb from
            (SELECT batch_nb from product_stock where id=#{id}) a )
            and b.quality_status in
            <foreach collection="fromStatusList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="listByMaterials" resultMap="StockVOResult">
        select ps.id as id,
        ps.sscc_number as sscc_number,
        ps.plant_nb as plant_nb,
        ps.from_prod_order as from_prod_order,
        ps.ware_code as ware_code,
        ps.frame_code as frame_code,
        ps.bin_code as bin_code,
        ps.material_nb as material_nb,
        pp.product_name as material_name,
        ps.batch_nb as batch_nb,
        ps.expire_date as expire_date,
        ps.total_stock as total_stock,
        ps.freeze_stock as freeze_stock,
        ps.available_stock as available_stock,
        ps.create_by as create_by,
        ps.create_time as create_time,
        ps.quality_status as quality_status,
        ps.area_code as area_code,
        ps.pallet_code as pallet_code,
        ps.whole_flag as whole_flag,
        ps.change_status as change_status,
        ps.unit as unit,
        ps.production_date as production_date,
        pp.cell as cell,
        ps.bin_in_flag as bin_in_flag,
        ps.recommend_bin_code as recommend_bin_code
        from product_stock ps
        left join md_product_packaging pp on pp.product_no = ps.material_nb and pp.delete_flag = 0
        where ps.delete_flag = 0
        and (ps.material_nb,ps.expire_date) in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            (#{item.materialNb},#{item.batch})
        </foreach>

    </select>
    <select id="list" resultMap="StockVOResult">
        select ps.id as id,
        ps.sscc_number as sscc_number,
        ps.plant_nb as plant_nb,
        ps.from_prod_order as from_prod_order,
        ps.ware_code as ware_code,
        ps.frame_code as frame_code,
        ps.bin_code as bin_code,
        ps.material_nb as material_nb,
        pp.product_name as material_name,
        ps.batch_nb as batch_nb,
        ps.expire_date as expire_date,
        ps.total_stock as total_stock,
        ps.freeze_stock as freeze_stock,
        ps.available_stock as available_stock,
        ps.create_by as create_by,
        ps.create_time as create_time,
        ps.quality_status as quality_status,
        ps.area_code as area_code,
        ps.pallet_code as pallet_code,
        ps.whole_flag as whole_flag,
        ps.change_status as change_status,
        ps.unit as unit,
        ps.production_date as production_date,
        pp.cell as cell,
        ps.bin_in_flag as bin_in_flag,
        ps.recommend_bin_code as recommend_bin_code
        from product_stock ps
        left join md_product_packaging pp on pp.product_no = ps.material_nb and pp.delete_flag = 0
        where ps.delete_flag = 0 and ps.plant_nb != '7701' and ps.plant_nb != '7761'

        <if test="plantNb != null  and plantNb != ''">and ps.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and ps.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="wareCode != null  and wareCode != ''">and ps.ware_code like concat('%', #{wareCode}, '%')</if>
        <if test="areaCode != null  and areaCode != ''">and ps.area_code like concat('%', #{areaCode}, '%')</if>
        <if test="binCode != null  and binCode != ''">and ps.bin_code like concat('%', #{binCode}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and ps.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="createBy != null  and createBy != ''">and ps.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(ps.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>
        order by ps.update_time desc,ps.create_time desc

    </select>
    <select id="selectIQCManagementList" resultType="com.bosch.product.api.domain.vo.ProductStockVO">
        select ps.id as id,
        ps.sscc_number as sscc_number,
        ps.plant_nb as plant_nb,
        ps.from_prod_order as from_prod_order,
        ps.ware_code as ware_code,
        ps.frame_code as frame_code,
        ps.bin_code as bin_code,
        ps.material_nb as material_nb,
        pp.product_name as material_name,
        ps.batch_nb as batch_nb,
        ps.expire_date as expire_date,
        ps.total_stock as total_stock,
        ps.freeze_stock as freeze_stock,
        ps.available_stock as available_stock,
        ps.create_by as create_by,
        ps.create_time as create_time,
        ps.quality_status as quality_status,
        ps.area_code as area_code,
        ps.pallet_code as pallet_code,
        ps.whole_flag as whole_flag,
        ps.change_status as change_status,
        ps.unit as unit,
        ps.production_date as production_date,
        pp.cell as cell,
        ps.bin_in_flag as bin_in_flag,
        ps.recommend_bin_code as recommend_bin_code
        from product_stock ps
        left join md_product_packaging pp on pp.product_no = ps.material_nb and pp.delete_flag = 0
        where ps.delete_flag = 0 and ps.plant_nb != '7701' and ps.plant_nb != '7761'

        <if test="plantNb != null  and plantNb != ''">and ps.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and ps.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="wareCode != null  and wareCode != ''">and ps.ware_code like concat('%', #{wareCode}, '%')</if>
        <if test="areaCode != null  and areaCode != ''">and ps.area_code like concat('%', #{areaCode}, '%')</if>
        <if test="binCode != null  and binCode != ''">and ps.bin_code like concat('%', #{binCode}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and ps.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="createBy != null  and createBy != ''">and ps.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(ps.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>
        <if test="qualityStatus != null and qualityStatus != ''">and ps.quality_status = #{qualityStatus}</if>
        <if test="changeStatus != null and changeStatus != ''">and ps.change_status = #{changeStatus}</if>
        order by ps.create_time desc,ps.update_time desc

    </select>
    <select id="validateStatus" resultType="int">
        SELECT COUNT(*)
        FROM product_stock ps
        WHERE ps.change_status = '1'
          AND ps.delete_flag = 0
          AND ps.id = #{id}
            and  ps.plant_nb != '7701' and ps.plant_nb != '7761'
    </select>
    <select id="selectSUQAIQCManagementList" resultType="com.bosch.product.api.domain.vo.ProductStockVO">
        select ps.id as id,
        ps.sscc_number as sscc_number,
        ps.plant_nb as plant_nb,
        ps.from_prod_order as from_prod_order,
        ps.ware_code as ware_code,
        ps.frame_code as frame_code,
        ps.bin_code as bin_code,
        ps.material_nb as material_nb,
        pp.product_name as material_name,
        ps.batch_nb as batch_nb,
        ps.expire_date as expire_date,
        ps.total_stock as total_stock,
        ps.freeze_stock as freeze_stock,
        ps.available_stock as available_stock,
        ps.create_by as create_by,
        ps.create_time as create_time,
        ps.quality_status as quality_status,
        ps.area_code as area_code,
        ps.pallet_code as pallet_code,
        ps.whole_flag as whole_flag,
        ps.change_status as change_status,
        ps.unit as unit,
        ps.production_date as production_date,
        pp.cell as cell,
        ps.bin_in_flag as bin_in_flag,
        ps.recommend_bin_code as recommend_bin_code
        from product_stock ps
        left join md_product_packaging pp on pp.product_no = ps.material_nb and pp.delete_flag = 0
        where ps.delete_flag = 0 and ps.plant_nb != '7761'

        <if test="plantNb != null  and plantNb != ''">and ps.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and ps.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="wareCode != null  and wareCode != ''">and ps.ware_code like concat('%', #{wareCode}, '%')</if>
        <if test="areaCode != null  and areaCode != ''">and ps.area_code like concat('%', #{areaCode}, '%')</if>
        <if test="binCode != null  and binCode != ''">and ps.bin_code like concat('%', #{binCode}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and ps.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="createBy != null  and createBy != ''">and ps.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(ps.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>
        <if test="qualityStatus != null and qualityStatus != ''">and ps.quality_status = #{qualityStatus}</if>
        <if test="changeStatus != null and changeStatus != ''">and ps.change_status = #{changeStatus}</if>
        order by ps.create_time desc,ps.update_time desc
    </select>
    <select id="validateSUQAStatus"  resultType="int">
        SELECT COUNT(*)
        FROM product_stock ps
        WHERE ps.change_status = '1'
          AND ps.delete_flag = 0
          AND ps.id = #{id}
          and  ps.plant_nb = '7761'

    </select>
    <select id="spdnStocklist" resultType="com.bosch.product.api.domain.vo.ProductStockVO">
        select ps.id as id,
        ps.sscc_number as sscc_number,
        ps.plant_nb as plant_nb,
        ps.from_prod_order as from_prod_order,
        ps.ware_code as ware_code,
        ps.frame_code as frame_code,
        ps.bin_code as bin_code,
        ps.material_nb as material_nb,
        pp.product_name as material_name,
        ps.batch_nb as batch_nb,
        ps.expire_date as expire_date,
        ps.total_stock as total_stock,
        ps.freeze_stock as freeze_stock,
        ps.available_stock as available_stock,
        ps.create_by as create_by,
        ps.create_time as create_time,
        ps.quality_status as quality_status,
        ps.area_code as area_code,
        ps.pallet_code as pallet_code,
        ps.whole_flag as whole_flag,
        ps.change_status as change_status,
        ps.unit as unit,
        ps.production_date as production_date,
        pp.cell as cell,
        ps.bin_in_flag as bin_in_flag,
        ps.recommend_bin_code as recommend_bin_code
        from product_stock ps
        left join md_product_packaging pp on pp.product_no = ps.material_nb and pp.delete_flag = 0
        where ps.delete_flag = 0 ps.plant_nb = '7761'

        <if test="plantNb != null  and plantNb != ''">and ps.plant_nb like concat('%', #{plantNb}, '%')</if>
        <if test="ssccNumber != null  and ssccNumber != ''">and ps.sscc_number like concat('%', #{ssccNumber}, '%')</if>
        <if test="wareCode != null  and wareCode != ''">and ps.ware_code like concat('%', #{wareCode}, '%')</if>
        <if test="areaCode != null  and areaCode != ''">and ps.area_code like concat('%', #{areaCode}, '%')</if>
        <if test="binCode != null  and binCode != ''">and ps.bin_code like concat('%', #{binCode}, '%')</if>
        <if test="fromProdOrder != null  and fromProdOrder != ''">and ps.from_prod_order like concat('%',
            #{fromProdOrder}, '%')
        </if>
        <if test="createBy != null  and createBy != ''">and ps.create_by like concat('%', #{createBy}, '%')</if>
        <if test="startCreateTime != null and endCreateTime != null">and str_to_date(ps.create_time, '%d/%m/%Y') between
            #{startCreateTime} and #{endCreateTime}
        </if>
        order by ps.update_time desc,ps.create_time desc
    </select>

</mapper>