<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.ShippingHistoryMapper">

    <resultMap id="BaseResultMap" type="com.bosch.product.api.domain.ShippingHistory">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="shippingTaskId" column="shipping_task_id" jdbcType="BIGINT"/>
        <result property="etoPo" column="eto_po" jdbcType="VARCHAR"/>
        <result property="prodOrder" column="prod_order" jdbcType="VARCHAR"/>
        <result property="ssccNumbers" column="sscc_numbers" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="historyIndex" column="history_index" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,shipping_task_id,eto_po,sscc_numbers,history_index,
        prod_order,create_by,update_by,
        create_time,update_time,status,
        delete_flag,remark
    </sql>
    <sql id="Task_Base_Column_List">
        st.id as shipping_task_id,st.package_no,st.shipping_plan_id,st.shipping_mark,
        st.eto_po,st.eto_plant,st.stock_movement_date,
        st.country,st.prod_order,st.qty,
        st.is_disassembled,st.tr,st.sap_code,
        st.pallet_quantity,st.after_packing,st.create_by as task_create_by,
        st.update_by as task_update_by,st.create_time as task_create_time,st.update_time as task_update_time
    </sql>
    <sql id="History_Base_Column_List">
        sh.id as shipping_history_id,sh.sscc_numbers,sh.history_index,sh.create_by as history_create_by,sh.update_by as history_update_by,
        sh.create_time as history_create_time,sh.update_time as history_update_time

    </sql>

    <delete id="deleteHistoryByTaskId" parameterType="Long">
        delete from shipping_history where shipping_task_id =#{id}
    </delete>

    <select id="searchAllFields" resultMap="BaseResultMap"
            parameterType="com.bosch.product.api.domain.dto.ShippingHistoryDTO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM shipping_history
        WHERE delete_flag=0
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="shippingTaskId != null">
            AND shipping_task_id = #{shippingTaskId}
        </if>
        <if test="ssccNumbers != null">
            AND sscc_numbers LIKE CONCAT('%', #{ssccNumbers}, '%')
        </if>
        <if test="etoPo != null">
            AND eto_po LIKE CONCAT('%', #{etoPo}, '%')
        </if>
        <if test="prodOrder != null">
            AND prod_order LIKE CONCAT('%', #{prodOrder}, '%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="createBy != null">
            AND create_by = #{createBy}
        </if>
        <if test="createTime != null">
            AND create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            AND update_by = #{updateBy}
        </if>
        <if test="updateTime != null">
            AND update_time = #{updateTime}
        </if>
    </select>


            <select id="selectShipping" resultType="com.bosch.product.api.domain.vo.ShippingVO" parameterType="com.bosch.product.api.domain.dto.ShippingDTO">
                SELECT
                <include refid="Task_Base_Column_List"/>,<include refid="History_Base_Column_List"/>

                FROM shipping_task as st left join shipping_history as sh
                ON sh.shipping_task_id=st.id
                WHERE st.delete_flag=0 and sh.delete_flag=0

                <if test="shippingMark != null and shippingMark != '' ">
                    AND st.shipping_mark like concat('%',#{shippingMark},'%')
                </if>

                <if test="historyIndex != null  ">
                    AND sh.history_index = #{historyIndex}
                </if>
                <if test="shippingTaskId != null  ">
                    AND sh.shipping_task_id = #{shippingTaskId}
                </if>

                <if test="etoPo != null and etoPo != ''  ">
                    AND st.eto_po like concat('%',#{etoPo},'%')
                </if>

                <if test="startCreateTime != null">and sh.create_time <![CDATA[ >= ]]> #{startCreateTime}</if>
                <if test="endCreateTime != null">and sh.create_time <![CDATA[ <= ]]> #{endCreateTime}</if>
                <if test="historyCreateBy != null and historyCreateBy != ''  ">
                    AND sh.create_by = #{historyCreateBy}
                </if>
                <if test="afterPacking != null and afterPacking != '' ">
                    AND st.after_packing = #{afterPacking}
                </if>
                <if test="ssccNumbers != null and ssccNumbers != '' ">
                    AND sh.sscc_numbers like concat('%',#{ssccNumbers},'%')
                </if>


            </select>

</mapper>
