<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.product.mapper.ShippingTaskMapper">

    <resultMap id="BaseResultMap" type="com.bosch.product.api.domain.ShippingTask">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="shippingPlanId" column="shipping_plan_id" jdbcType="VARCHAR"/>

        <result property="packageNo" column="package_no" jdbcType="VARCHAR"/>
        <result property="shippingMark" column="shipping_mark" jdbcType="VARCHAR"/>
        <result property="etoPo" column="eto_po" jdbcType="VARCHAR"/>
        <result property="etoPlant" column="eto_plant" jdbcType="VARCHAR"/>
        <result property="stockMovementDate" column="stock_movement_date" jdbcType="VARCHAR"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="prodOrder" column="prod_order" jdbcType="VARCHAR"/>
        <result property="qty" column="qty" jdbcType="INTEGER"/>
        <result property="isDisassembled" column="is_disassembled" jdbcType="VARCHAR"/>
        <result property="tr" column="tr" jdbcType="VARCHAR"/>
        <result property="sapCode" column="sap_code" jdbcType="VARCHAR"/>
        <result property="palletQuantity" column="pallet_quantity" jdbcType="VARCHAR"/>
        <result property="afterPacking" column="after_packing" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,package_no,shipping_plan_id,shipping_mark,
        eto_po,eto_plant,stock_movement_date,
        country,prod_order,qty,
        is_disassembled,tr,sap_code,
        pallet_quantity,after_packing,create_by,
        update_by,create_time,update_time,
        status,delete_flag,remark
    </sql>

    <select id="selectAllByFields" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM shipping_task
        WHERE delete_flag='0'
        <if test="id != null">AND id = #{id}</if>
        <if test="packageNo != null and packageNo !=''">AND package_no = #{packageNo}</if>
        <if test="shippingPlanId != null">AND shipping_plan_id = #{shippingPlanId}</if>
        <if test="shippingMark != null and shippingMark !=''">AND shipping_mark = #{shippingMark}</if>
        <if test="etoPo != null and etoPo !=''">AND eto_po = #{etoPo}</if>
        <if test="etoPlant != null and etoPlant !=''">AND eto_plant = #{etoPlant}</if>
        <if test="country != null and country !=''">AND country = #{country}</if>
        <if test="prodOrder != null and prodOrder !=''">AND prod_order = #{prodOrder}</if>
        <if test="qty != null">AND qty = #{qty}</if>
        <if test="isDisassembled != null and isDisassembled !=''">AND is_disassembled = #{isDisassembled}</if>
        <if test="tr != null">AND tr = #{tr}</if>
        <if test="sapCode != null and sapCode !=''">AND sap_code = #{sapCode}</if>
        <if test="palletQuantity != null and palletQuantity !=''">AND pallet_quantity = #{palletQuantity}</if>
        <if test="afterPacking != null and afterPacking !='' ">AND after_packing = #{afterPacking}</if>

    </select>

    <update id="deleteShippingTask" parameterType="Long[]">
        update shipping_task
        set delete_flag='1' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateStatus" parameterType="map">
        update shipping_task
        set status=#{status}  where delete_flag='0' and id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getDashboard" resultType="com.bosch.product.api.domain.vo.ShippingTaskVO" parameterType="com.bosch.product.api.domain.dto.ShippingTaskDTO">
        SELECT STR_TO_DATE(shipping_task.stock_movement_date, '%Y/%m/%d %H:%i') as stock_movement_date_order_by,shipping_task.*,
        ROUND(COUNT(shipping_history.shipping_task_id) / shipping_task.after_packing * 100, 2) AS rate_of_progress
        FROM shipping_task
        LEFT JOIN shipping_history ON shipping_task.id = shipping_history.shipping_task_id
        <if test="createBy != null and createBy !=''">AND shipping_history.create_by like concat('%',#{createBy},'%')</if>
        WHERE shipping_task.delete_flag=0
        <if test="id != null">AND shipping_task.id = #{id}</if>
        <if test="packageNo != null and packageNo !=''">AND shipping_task.package_no like concat('%',#{packageNo},'%')</if>
        <if test="shippingPlanId != null and shippingPlanId !=''">AND shipping_task.shipping_plan_id = #{shippingPlanId}</if>
        <if test="shippingMark != null and shippingMark !=''">AND shipping_task.shipping_mark like concat('%',#{shippingMark},'%')</if>
        <if test="etoPo != null and etoPo !=''">AND shipping_task.eto_po like concat('%',#{etoPo},'%')</if>
        <if test="etoPlant != null and etoPlant !=''">AND shipping_task.eto_plant = #{etoPlant}</if>
        <if test="stockMovementDate != null and stockMovementDate !=''">AND shipping_task.stock_movement_date = #{stockMovementDate}</if>
        <if test="country != null and country !=''">AND shipping_task.country = #{country}</if>
        <if test="prodOrder != null and prodOrder !=''">AND shipping_task.prod_order like concat('%',#{prodOrder},'%')</if>
        <if test="qty != null and qty !=''">AND qty = #{qty}</if>
        <if test="isDisassembled != null and isDisassembled !=''">AND shipping_task.is_disassembled = #{isDisassembled}</if>
        <if test="tr != null and tr !=''">AND shipping_task.tr = #{tr}</if>
        <if test="sapCode != null and sapCode !=''">AND shipping_task.sap_code like concat('%',#{sapCode},'%')</if>
        <if test="palletQuantity != null and palletQuantity !=''">AND shipping_task.pallet_quantity like concat('%',#{palletQuantity},'%')</if>
        <if test="afterPacking != null and afterPacking !=''">AND shipping_task.after_packing like concat('%',#{afterPacking},'%')</if>

        <if test="status != null ">AND shipping_task.status = #{status}</if>

        <if test="stockMovementDateStart != null">and STR_TO_DATE(shipping_task.stock_movement_date, '%Y/%m/%d %H:%i') <![CDATA[ >= ]]> #{stockMovementDateStart}</if>
        <if test="stockMovementDateEnd != null">and STR_TO_DATE(shipping_task.stock_movement_date, '%Y/%m/%d %H:%i') <![CDATA[ <= ]]> #{stockMovementDateEnd}</if>
        GROUP BY shipping_task.id ORDER BY stock_movement_date_order_by asc

    </select>

</mapper>
