@font-face {
  font-family: "iconfont"; /* Project id 3699882 */
  src: url('static/icon/iconfont.woff2?t=1668074667696') format('woff2'),
       url('static/icon/iconfont.woff?t=1668074667696') format('woff'),
       url('static/icon/iconfont.ttf?t=1668074667696') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
}

.icon-shangjia1:before {
  content: "\e616";
}

.icon-shangjia2:before {
  content: "\e6da";
}

.icon-ruku:before {
  content: "\e61f";
}

.icon-shangjia:before {
  content: "\eebd";
}

.icon-shibai:before {
  content: "\e64e";
}

.icon-chenggong:before {
  content: "\e615";
}

.icon-rukuwancheng:before {
  content: "\e642";
}

