<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.vehiclereservation.mapper.DriverDeliverMapper">
    <resultMap type="com.bosch.vehiclereservation.api.domain.DriverDeliver" id="DriverDeliverResult">
        <result property="deliverId" column="deliver_id"/>
        <result property="reserveNo" column="reserve_no"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="timeWindow" column="time_window"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="driverName" column="driver_name"/>
        <result property="driverPhone" column="driver_phone"/>
        <result property="carNum" column="car_num"/>
        <result property="reserveType" column="reserve_type"/>
        <result property="late" column="late"/>
        <result property="signinDate" column="signin_date"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="miniappSupplierName" column="miniapp_supplier_name"/>
    </resultMap>

    <sql id="selectDriverDeliver">
        select t1.deliver_id,
               t1.reserve_no,
               t2.supplier_code,
               t1.reserve_date,
               t1.time_window,
               t1.wechat_id,
               t1.driver_name,
               t1.driver_phone,
               t1.car_num,
               t1.reserve_type,
               t1.late,
               t1.signin_date,
               t1.status,
               t1.remark,
               t1.create_by,
               t1.update_by,
               t1.create_time,
               t1.update_time
        from vr_driver_deliver t1
                 left join vr_supplier_reserve t2 on t2.reserve_no = t1.reserve_no
    </sql>

    <select id="selectDriverDeliverList" resultMap="DriverDeliverResult">
        <include refid="selectDriverDeliver"/>
        <where>
            <if test="driver.reserveNo != null  and driver.reserveNo != ''">
                and t1.reserve_no like concat('%', #{driver.reserveNo}, '%')
            </if>
            <if test="driver.driverName != null  and driver.driverName != ''">
                and t1.driver_name like concat('%', #{driver.driverName}, '%')
            </if>
            <if test="driver.driverPhone != null  and driver.driverPhone != ''">
                and t1.driver_phone like concat('%', #{driver.driverPhone}, '%')
            </if>
            <if test="driver.carNum != null  and driver.carNum != ''">
                and t1.car_num like concat('%', #{driver.carNum}, '%')
            </if>
            <if test="driver.reserveType != null ">
                and t1.reserve_type = #{driver.reserveType}
            </if>
            <if test="driver.status != null ">
                and t1.status = #{driver.status}
            </if>
            <if test="driver.wechatId != null and driver.wechatId != ''">
                and t1.wechat_id = #{driver.wechatId}
            </if>
            <if test="driver.reserveDate != null ">
                and DATE_FORMAT(t1.reserve_date, '%Y-%m-%d') = DATE_FORMAT(#{driver.reserveDate}, '%Y-%m-%d')
            </if>
            <if test="driver.reserveNoList != null and driver.reserveNoList.size() > 0">
                and t1.reserve_no in
                <foreach item="item" index="index" collection="driver.reserveNoList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="driver.wechatId != null and driver.wechatId != '' and driver.selectType == 1">
                order by signin_date desc
            </when>
            <otherwise>
                order by reserve_date,time_window
            </otherwise>
        </choose>
    </select>

    <select id="selectDriverDeliverOnTimeList" resultMap="DriverDeliverResult">
        <include refid="selectDriverDeliver"/>
        <where>
            <if test="driver.reserveNoList != null and driver.reserveNoList.size() > 0">
                and t1.reserve_no in
                <foreach item="item" index="index" collection="driver.reserveNoList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="driver.selectYear != null ">
                and year(t1.reserve_date) = #{driver.selectYear}
            </if>
            and reserve_type = 1
        </where>
        order by reserve_date,time_window
    </select>
</mapper>