<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.vehiclereservation.mapper.SupplierReserveMapper">
    <resultMap type="com.bosch.vehiclereservation.api.domain.SupplierReserve" id="SupplierReserveResult">
        <result property="reserveId" column="reserve_id"/>
        <result property="reserveNo" column="reserve_no"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="wareId" column="ware_id"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSupplierReserve">
        select reserve_id,
               reserve_no,
               supplier_code,
               ware_id,
               reserve_date,
               status,
               remark,
               create_by,
               update_by,
               create_time,
               update_time
        from vr_supplier_reserve
    </sql>

    <select id="selectReserveDateList" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        where ware_id = #{wareId} and reserve_date = #{reserveDate}
    </select>

    <select id="getLastData" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        ORDER BY create_time desc,reserve_id desc LIMIT 1
    </select>

    <select id="selectSupplierReserveList" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        <where>
            <if test="reserveNo != null  and reserveNo != ''">
                and reserve_no like concat('%', #{reserveNo}, '%')
            </if>
            <if test="supplierCode != null  and supplierCode != ''">
                and supplier_code = #{supplierCode}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
        </where>
        order by reserve_date desc
    </select>
</mapper>