<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.vehiclereservation.mapper.SupplierPorderMapper">

    <select id="getArriveQuantityByPurchaseId" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(arrive_quantity), 0)
        from vr_supplier_porder
        where purchase_id = #{purchaseId}
    </select>

</mapper>