<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.vehiclereservation.mapper.SupplierReserveMapper">
    <resultMap type="com.bosch.vehiclereservation.api.domain.SupplierReserve" id="SupplierReserveResult">
        <result property="reserveId" column="reserve_id"/>
        <result property="reserveNo" column="reserve_no"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="wareId" column="ware_id"/>
        <result property="reserveDate" column="reserve_date"/>
        <result property="timeWindow" column="time_window"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSupplierReserve">
        select t1.reserve_id,
               t1.reserve_no,
               t1.supplier_code,
               t1.ware_id,
               t1.reserve_date,
               t2.time_window,
               t1.status,
               t1.remark,
               t1.create_by,
               t1.update_by,
               t1.create_time,
               t1.update_time
        from vr_supplier_reserve t1 left join vr_driver_deliver t2
            on t2.reserve_no = t1.reserve_no
    </sql>

    <select id="selectReserveDateList" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        where t1.ware_id = #{wareId} and t2.reserve_date = #{reserveDate}
    </select>

    <select id="getLastData" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        ORDER BY t1.create_time desc,t1.reserve_id desc LIMIT 1
    </select>

    <select id="selectSupplierReserveList" resultMap="SupplierReserveResult">
        <include refid="selectSupplierReserve"/>
        <where>
            <if test="reserveNo != null  and reserveNo != ''">
                and t1.reserve_no like concat('%', #{reserveNo}, '%')
            </if>
            <if test="supplierCode != null  and supplierCode != ''">
                and t1.supplier_code = #{supplierCode}
            </if>
            <if test="status != null ">
                and t1.status = #{status}
            </if>
            <if test="reserveDate != null ">
                and DATE_FORMAT(t1.reserve_date, '%Y-%m-%d') = DATE_FORMAT(#{reserveDate}, '%Y-%m-%d')
            </if>
        </where>
        order by t1.reserve_date desc
    </select>

    <select id="selectReserveOnList" resultType="java.lang.String">
        select reserve_no from vr_supplier_reserve
        <where>
            <if test="supplierCode != null  and supplierCode != ''">
                and supplier_code = #{supplierCode}
            </if>
        </where>
        group by reserve_no
    </select>

    <select id="getSupplierName" resultType="java.lang.String">
        SELECT DISTINCT supplier_code
        from vr_supplier_reserve
    </select>
</mapper>