

.m-b-4{
	margin-bottom: 4px;
}
.m-b-8{
	margin-bottom: 8px;
}
.m-b-12{
	margin-bottom: 12px;
}

.flex{
	display: flex;
}
.flex-column{
	flex-direction: column;
}

.primary-button{
	background: $primary-color !important;
	color: #fff !important;
}

.default-button{
	// background: $primary-color !important;
	// color: #fff !important;
}

.primary-text-color{
	color: $primary-color;
}

.success-color{
	color: $uni-color-success !important;
}
.error-color{
	color: $uni-color-error !important;
}

.text-center{
	text-align: center;
}

.custom-input{
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	padding-left: 10px;
	// width: 100px;
	position: relative;
	overflow: hidden;
	line-height: 1;
	font-size: 14px;
	height: 35px;
	color:rgb(51, 51, 51);
	overflow-x: auto;
	text{
		width: 0px;
		white-space: nowrap;
	}
	.placeholder-text{
		font-size: 12px;
		color: #d5d5d5;
	}
	&.focus{
		border-color: $primary-color;
		border-width: 2px;
	}
}