

.m-b-4{
	margin-bottom: 4px;
}
.m-b-8{
	margin-bottom: 8px;
}
.m-b-12{
	margin-bottom: 12px;
}
.m-r-8{
	margin-right: 8px;
}
.m-r-4{
	margin-right: 4px;
}

// flex
.flex-column{
	flex-direction: column;
}

.flex{display: flex;display:-webkit-flex;}
.flex-row{flex-direction: row;}
.flex-col{flex-direction: column;}
.flex-ai{align-items: center;}
.flex-jc{justify-content: center;}
/****主轴水平、垂直方向***/
.flex-rowc{display: flex;flex-direction: row;justify-content: center;align-items: center;}//水平垂直居中
.flex-rowl{display: flex;flex-direction: row;justify-content: flex-start;align-items: center;}//主轴为水平方向，起点在左端，垂直居中
.flex-rowr{display: flex;flex-direction: row;justify-content: flex-end;align-items: center;}//主轴为水平方向，起点在右端，垂直居中
.flex-colc{display: flex;flex-direction: column;justify-content: center;align-items: center;}主轴为垂直方向，垂直居中
.flex-colt{display: flex;flex-direction: column;justify-content: center;align-items: flex-start;}主轴为垂直方向，起点在上沿，水平居中
.flex-colb{display: flex;flex-direction: column;justify-content: center;align-items: flex-end;}主轴为垂直方向，起点在下沿，水平居中
.flex-between{display: flex;justify-content: space-between;align-items: center;flex-direction: row;}//两端对齐，项目之间的间隔都相等
.flex-around{display: flex;justify-content: space-around;align-items: center;flex-direction: row;}//每个项目两侧的间隔相等

**水平方向（一个固定宽度，一个自适应填充）**
/* 固定宽度 */
.fixedWidth{flex:0 0 auto;}
/* 自适应宽度 */
.autoFullWidth{flex:1 1 auto;}

**垂直方向（一个固定高度，一个自适应填充）**
/**固定高度*/
.fixedHig{flex: 0;}
/**自动填充剩余区域*/
.autoFullHig{flex: 1;}



.primary-button{
	background: $primary-color !important;
	color: #fff !important;
}

.default-button{
	// background: $primary-color !important;
	// color: #fff !important;
}

.primary-text-color{
	color: $primary-color;
}

.success-color{
	color: $uni-color-success !important;
}
.error-color{
	color: $uni-color-error !important;
}
.grey-color{
	color: $uni-text-color-grey;
}

.text-center{
	text-align: center;
}


.custom-input{
	width: 100%;
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	align-items: center;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	padding-left: 10px;
	// width: 100px;
	position: relative;
	overflow: hidden;
	line-height: 1;
	font-size: 14px;
	height: 35px;
	color:rgb(51, 51, 51);
	overflow-x: auto;
	text{
		width: 0px;
		white-space: nowrap;
	}
	.placeholder-text{
		font-size: 12px;
		color: #d5d5d5;
	}
	&.focus{
		border-color: $primary-color;
		border-width: 2px;
	}
}

.ellipsis{
	overflow: hidden; //超出的文本隐藏
	text-overflow: ellipsis; //溢出用省略号显示
}

.text-line{
	color: #333;
	font-size: 14px;
	display: flex;
	align-items: center;
	.label{
		width: 72px;
	}
}


.width100{
	width: 100%;
}
