<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosch.binin.mapper.BinInMapper">

    <resultMap type="BinInVO" id="BinInVOResult">
        <result property="id" column="id"/>
        <result property="materialNb" column="material_nb"/>
        <result property="materialName" column="material_name"/>
        <result property="batchNb" column="batch_nb"/>
        <result property="expireDate" column="expire_date"/>
        <result property="wareCode" column="ware_code"/>
        <result property="recommendBinCode" column="recommend_bin_code"/>
        <result property="actualBinCode" column="actual_bin_code"/>
        <result property="quantity" column="quantity"/>
        <result property="palletCode" column="pallet_code"/>
        <result property="palletType" column="pallet_type"/>
        <result property="state" column="state"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


    <select id="selectBinVOList" resultMap="BinInVOResult">
        select bi.id,bi.material_nb,mm.name as material_name,bi.batch_nb,bi.expire_date,bi.ware_code,bi.recommend_bin_code,
        bi.actual_bin_code,bi.quantity,bi.pallet_code,bi.pallet_type,bi.state,
        bi.create_user,bi.create_time
        from bi_in bi left join md_material mm on bi.material_nb = mm.code
        <where>
            <if test="materialNb != null and materialNb != ''">and bi.material_nb = #{materialNb}</if>
            <if test="materialName != null  and materialName != ''">and mm.name like concat('%', #{name}, '%')</if>
            <if test="batchNb != null  and batchNb != ''">and bi.batch_nb = #{batchNb}</if>
            <if test="wareCode != null and wareCode != ''">and bi.ware_code = #{wareCode}</if>
            <if test="actualBinCode != null and actualBinCode != ''">and bi.actual_bin_code = #{actualBinCode}</if>
            <if test="createUser != null and createUser != ''">and bi.create_user = #{createUser}</if>
            <if test="state != null ">and bi.state = #{state}</if>

        </where>

    </select>

</mapper>